[2017-03-16 00:14] gr2m commented on #104
Saturday is great :) Let’s check in then

[2017-03-16 02:16] gr2m commented on #105
Here is an example diff using Markdown

[code]

[2017-03-22 04:15] agonzalez0515 opened #108 "Update License Year in hoodie-account-server repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 04:36] agonzalez0515 opened #109 "Update License in hoodie-account-server-api repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 13:32] morrme commented on #109
If for some reason this is not completed during your event, i'm happy to help. I am in another state, so I cannot attend.

[2017-03-22 13:57] Techforchange opened #110 "Update License Year in hoodie-store-server repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:01] Techforchange opened #111 "Update License Year in hoodie-account-client repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:04] Techforchange opened #112 "Update License Year in hoodie-store-client repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:11] Techforchange opened #113 "Update License Year in hoodie-connection-status repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:18] Techforchange opened #114 "Update License Year in pouchdb-hoodie-sync repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:20] Techforchange opened #115 "Update License Year in pouchdb-hoodie-api repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 14:29] Techforchange opened #116 "Update License Year in hoodie-client repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 19:01] jzrchilel commented on #116
I would like to claim this issue, I want to start contributing. :smile:

[2017-03-22 19:07] gr2m commented on #116
These are reserved for an event tonight, I’m afraid. But if it’s still available tomorrow, it’s all yours ;)

[2017-03-22 19:09] jzrchilel commented on #116
@gr2m Ok, no problem! I can look for another issues in your projects.

[2017-03-22 19:33] Techforchange opened #117 "Update License Year in hoodie-admin repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-22 19:37] Techforchange opened #118 "Update License Year in hoodie-admin-client repository"
![writespeakcode](https://s3.postimg.org/5m9xwaxlf/writespeakcode.jpg)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

[Write/

[2017-03-23 02:34] amyngyn commented on #110
Claiming this!

[2017-03-23 02:35] jacquelion commented on #108
Claiming! :)

[2017-03-23 02:41] julianacook commented on #111
Claiming this!

[2017-03-23 02:51] AnliYang commented on #118
Grabbing this!

[2017-03-23 03:02] amyngyn commented on #110
Please review me!

[2017-03-23 03:06] kb0rg commented on #112
happy to pick this one up 😺

[2017-03-23 03:10] julianacook commented on #111
Ready for review!

[2017-03-23 03:21] evilzero commented on #113
commited

[2017-03-23 10:08] ghost commented on #114
I am in a different country so i cannot attend the event but I would like to claim this issue :)

[2017-03-23 21:39] #110 closed, assigned to amyngyn

[2017-03-23 23:39] LowProfileDog commented on #114
👋🐶 Hello @ctbonet, looks like the issue was not claimed, so it’s all yours :) We’ve invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations and then follow the steps above. Enjoy :)

[2017-03-23 23:52] snwfdhmp commented on #118
That seems to be a great job for me

[2017-03-24 00:38] ghost commented on #114
Thank you :)
I added a pull request here : https://github.com/hoodiehq/camp/pull/119 and i'm up for a review.

[2017-03-24 03:57] geoninja commented on #117
It's ready. Can this be closed?

[2017-03-24 04:35] morrme commented on #115
@gr2m @Techforchange I'd like to claim this one, now that the event has passed.

[2017-03-24 04:42] AkshayGulhane commented on #116
@gr2m can I pick this issue?

[2017-03-24 05:11] #108 closed, assigned to jacquelion

[2017-03-24 05:20] gr2m commented on #117
not until your PR (https://github.com/hoodiehq/hoodie-admin/pull/54) has been reviewed and merged :) Sorry it takes us so long

[2017-03-24 05:23] gr2m commented on #116
@isafrus5 it was not claimed during the event, do you want to work on this?

[2017-03-24 05:23] mbad0la commented on #114
@ctbonet you have corrected the license year for this repository and not for [pouchdb-hoodie-sync](https://github.com/hoodiehq/pouchdb-hoodie-sync)

Although your PR is a valid one, but I'll be sticking with what this issue demands and leave your current PR for @gr2m to resolve

[2017-03-24 05:25] LowProfileDog commented on #115
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2017-03-24 05:28] #117 closed, assigned to geoninja

[2017-03-24 05:29] gr2m commented on #114
@ctbonet I merged you PR, it was correct, too :) Could you send another one for the LICENSE file in the pouchdb-hoodie-sync repository? Thanks :) And thanks @mbad0la for checking and reaching out

[2017-03-24 05:31] mbad0la commented on #113
@evilzero you have put up the `ready` tag but I don't see any Pull Request by you in the [repository](https://github.com/hoodiehq/hoodie-connection-status/pulls). Please confirm.

[2017-03-24 05:49] morrme commented on #115
@LowProfileDog it looks like this one was already completed by @Techforchange  . The year is already 2017.

[2017-03-24 05:51] morrme commented on #109
This one seems like it is already done as well. Am I looking at the wrong files?

[2017-03-24 05:52] evilzero commented on #115
File updated with browser

[2017-03-24 05:59] jzrchilel commented on #116
@gr2m sure, I want to take it!

[2017-03-24 07:00] morrme commented on #115
@evilzero  ???

[2017-03-25 02:05] morrme commented on #115
This is how the license appears in the repo currently. It appears as though the change has already been made.
![pouchdblic](https://cloud.githubusercontent.com/assets/26514778/24318571/85481850-10d5-11e7-9006-09d5549e3c93.PNG)

[2017-03-25 02:46] gr2m commented on #115
The `LICENSE` link in the issue description was wrong, it was linked to a branch in which the file was in fact already corrected, but this was just internal for testing. It is not yet done in the master branch: https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/LICENSE#L189

Could you send a pull request for it?

[2017-03-25 02:50] gr2m commented on #116
I’ve invited you to this repository. Once accepted at https://github.com/hoodiehq/camp/invitations, you can work off the check list above. Enjoy :)

[2017-03-25 02:50] gr2m commented on #109
The link to the LICENSE file was wrong, I corrected it, thanks!

[2017-03-25 02:52] gr2m commented on #113
@evilzero you created a fork, but did not create the pull request yet. You can do so on https://github.com/evilzero/hoodie-connection-status, press on `New pull request` button :)

[2017-03-25 03:26] morrme commented on #115
@gr2m i sure will. thanks !

[2017-03-25 03:40] morrme commented on #115
@gr2m done! Thanks!

[2017-03-25 13:34] gr2m commented on #109
@morrme please note that these are first-timers only issues, one per person :) They take us quite some effort to prepare, so we want to make sure to have as many newcomers as possible to have a go at them. As you already worked on #115, I’d like to open this up to someone else. Hope that’s okay with you?

[2017-03-25 13:35] #115 closed, assigned to morrme

[2017-03-26 05:38] morrme commented on #109
Well, I don't have a say in the matter, but I was told earlier that this was for a special event and once the event was over, it was open to anyone. In addition, since all of these had the wrong link, I went to the ones that were unresolved , checked/compared files, and also made comments/screenshots to alert the team of the error(s).  So there was more effort involved on my end as well.  I didn't

[2017-03-26 16:12] gauravmishra123 commented on #118
claiming this!

[2017-03-26 16:15] gauravmishra123 commented on #118
I am a beginner on github , please guide me how to contribute to this or if any  other such project is there on github for first timers

[2017-03-26 19:49] AnliYang commented on #118
Review please: https://github.com/hoodiehq/hoodie-admin-client/pull/19

Thanks!

[2017-03-26 20:04] AnliYang commented on #118
Sorry, @gauravmishra123, it looks like we overlapped a bit in trying to claim this--I'd grabbed it a few days ago and was taking a while to open up my pull request.

For reference, here are a couple resources for how to contribute:
- [Hoodie's contribution guide](https://github.com/hoodiehq/hoodie/blob/master/CONTRIBUTING.md)
- [tutorial on contributing to open source on GitHub](https://egghead.io

[2017-03-26 20:20] gr2m commented on #109
No worries at all @morrme, it was our mistake with the link. We are working on a tool that helps us creating issues such as this one, and there was a bug :)

We are continuously adding issues that are ready for taking, and only the one with the `first-timers-only` label are reserved for people who never contributed to Open Source before. It’s our contribution to http://www.firsttimersonly.com/

[2017-03-26 20:22] #118 closed, assigned to nobody

[2017-03-26 22:13] kb0rg commented on #112
Hi, Thank you for setting up all of this super thorough information (which I've just realized that I'd failed to read thoroughly) :)

Ready for review, please let me know if I've missed a step.

[2017-03-26 22:30] #112 closed, assigned to kb0rg

[2017-03-27 02:03] #111 closed, assigned to nobody

[2017-03-27 18:39] #116 closed, assigned to jzrchilel

[2017-03-28 02:38] premshah commented on #114
I will like to claim this issue

[2017-03-28 05:09] LowProfileDog commented on #114
Hey @premshah, the issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2017-03-28 10:22] sohini-roy commented on #102
Hello,
Thanks for the guide. It was helpful.
I am acquainted with GitHub API and am willing to be a part of this issue.

Please guide me through :)

[2017-03-28 13:43] e-goz commented on #109
Is the event still open ? If so, I'll be pleased to contribute to this issue !

[2017-03-28 13:50] gdepouilly commented on #109
Is the event still open ? If so, I'll be pleased to contribute to this issue !

[2017-03-28 14:20] premshah commented on #114
I have created a pull request. Please review it @LowProfileDog

[2017-03-28 15:12] LowProfileDog commented on #109
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2017-03-30 06:29] gdepouilly commented on #109
I've committed the updates on gh-pages branch, but I can't create the pull request. Which branches should I compare to create it ?

[2017-03-30 16:50] gr2m commented on #109
oops, you actually should not be able to commit directly to `gh-pages`, but it’s all good and the issue is now done via https://github.com/hoodiehq/camp/commit/21f7710b971fe94a84a6a2cda1470266e4badfbc :) Thanks!

[2017-03-30 16:50] #109 closed, assigned to gdepouilly

[2017-03-30 17:26] bksahu commented on #118
DIBS !!! :yum:

[2017-03-30 21:29] #114 closed, assigned to premshah

[2017-04-01 17:53] #113 closed, assigned to evilzero

[2017-04-11 06:47] shadeven commented on #8
Hi all, has this issue been completed yet? I would like to contribute if it is still open. Thanks.

[2017-05-25 19:00] gr2m commented on #24
this is done now :) http://docs.hood.ie/en/latest/guides/deployment.html#deployment-in-linux

[2017-05-25 19:00] #24 closed, assigned to sohini-roy

[2017-05-25 19:02] gr2m commented on #100
Hey @inator how are things? Do you have any progress on the task module?

[2017-06-10 15:13] gr2m commented on #13
done via https://github.com/hoodiehq/pouchdb-hoodie-api/issues/123

[2017-06-10 15:13] #13 closed, assigned to gr2m

[2017-06-11 10:05] gr2m commented on #8
Hey thank you all for your work on this. I’m sorry that we couldn’t follow up in time :(

We have a clearer picture now on what the default Hoodie UI would look like. In a nutshell, if there is no `public` folder in a app, the `/` root path will redirect to `/hoodie` and at `/hoodie` we will show some relevant information like the current version of hoodie. And if no `public` folder is defined, we

[2017-06-11 10:05] #8 closed, assigned to distalx

[2017-06-11 10:14] #11 closed, assigned to matthewlanders

[2017-06-11 10:19] gr2m commented on #14
I’ll close the issue as it lacks activity for quite some time now. We also still have to find a way to differentiate between local changes made by the user and changes synchronized from remote which is currently blocking the last fixes. Once we have all that we can give this another look :)

[2017-06-11 10:19] #14 closed, assigned to gr2m, machikoyasuda

[2017-06-11 10:23] gr2m commented on #25
I’ll close this issue for now. We’ll open up other opportunities to write tutorials for Hoodie and related projects, stay tuned :)

[2017-06-11 10:23] #25 closed, assigned to tinyinkling

[2017-06-13 12:12] #104 closed, assigned to labaikie

[2017-06-13 20:31] #72 closed, assigned to paulohp

[2017-06-13 21:11] #74 closed, assigned to Taekyoon

[2017-06-13 21:25] #75 closed, assigned to nobody

[2017-06-17 01:14] gr2m commented on #7
see https://github.com/hoodiehq/hoodie/pull/617#issuecomment-307618170

[2017-06-17 01:14] #7 closed, assigned to dengjonathan

[2017-06-17 21:43] gr2m opened #120 "`signin` is not fired when logging in via token"
### 🐞 The Bug

Hoodie allows to sign in with a one-time token which must have been added to the user account on the server before, like so

[code]

But as described in https://github.com/hoodiehq/hoodie-account-client/issues/144, the `'signin'` event is not triggered, instead `'reauthenticate'` is triggered.

To reproduce the bug, create a new Hoodie app as described in our [quick start guide](htt

[2017-06-17 22:31] gr2m opened #121 "merge pouchdb-hoodie-api and pouchdb-hoodie-sync into hoodie-store-client"
### 🤔 What you will need to know

First, this is a rather advanced issue. If you are new to Hoodie, it might not be a good first issue to work on. But if you feel confident, don’t let that stop you :)

When we decided to rebuild Hoodie from scratch, the most important change was to move away from our self-cooked localStorage based sync engine and use [PouchDB](https://pouchdb.com). The Store modul

[2017-06-18 14:19] gr2m commented on #121
I’m going to work on it myself :)

[2017-06-19 07:44] Alice-anjali commented on #120
We will start right away :-)

[2017-06-20 15:36] sohini-roy commented on #120
![screenshot from 2017-06-20 21-04-08](https://user-images.githubusercontent.com/16969415/27341874-2adeeb8e-55fc-11e7-93d7-197923eafb0c.png)

[2017-06-20 15:38] sohini-roy commented on #120
I must have missed something for running "hoodie.account.signIn({token: 'MY_SECRET_TOKEN'})" shows "signin event" :sweat_smile:

[2017-06-27 16:49] sohini-roy commented on #120
resolved in https://github.com/hoodiehq/hoodie-account-client/pull/157 please review :)

[2017-06-28 02:16] #121 closed, assigned to gr2m

[2017-06-28 19:12] #120 closed, assigned to sohini-roy, Alice-anjali

[2017-07-13 20:40] gr2m opened #122 "fix code examples in hoodie.account API documentation"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s up for everyone for taking :) New contributors welcome <3

### 🤔 What you will need to know

Our [documentation website](http://docs.hood.ie/en/latest/)’s source code is part of the [hoodie](https://github.com/hoodiehq/hoodie) repository and lives in the [`docs/`](https://github.com/hoodiehq/hoodie/tree/master/docs) folder. E

[2017-07-13 20:58] nish17 commented on #118
is it up for grabs?

[2017-07-13 21:02] gr2m commented on #118
no, it’s already closed I’m afraid :)

[2017-07-14 23:10] lucask42 commented on #122
Hello gr2m, I'd like to claim this issue 🙋

[2017-07-14 23:13] LowProfileDog commented on #122
Welcome @lucask42 👋🏾🐶 We’ve just invited you to this repository. You can accept the invitation at https://github.com/hoodiehq/camp/invitations and then work off the checklist above. Let us know if you have any questions :)

[2017-07-14 23:21] lucask42 commented on #122
Great!

[2017-07-14 23:55] lucask42 commented on #122
Well that was fun!  Please review my pull request :) :) :)

[2017-07-15 04:51] #122 closed, assigned to nobody

[2017-07-15 04:58] gr2m commented on #122
The new version with your fixes is now online at http://docs.hood.ie/en/latest/api/client/hoodie.account.html#hoodie-account-update. Thanks for your help 👍

[2017-07-15 06:38] gr2m opened #123 "semantic-release validation bot"
### :dart:⛳ The goal

Build a bot that does several things

1. Parses all commit messages in a pull request the same way that [semantic-release](https://github.com/semantic-release/semantic-release) does it. If there are any commits not following the conventions, set the status for the pr to 🔴 error.
2. Based on the commit messages, calculate the changelogs and add it to the pull request descripti

[2017-07-15 07:01] sohini-roy commented on #123
Thanks a lot for the vivid description. We are looking forward to work on this :)

[2017-07-29 09:40] sohini-roy commented on #123
please have a look at https://github.com/sohini-roy/github-set-pr-status and suggest improvements

[2017-07-29 17:24] gr2m commented on #123
Here are two suggestions:

1. add a `bin` setting in the package.json so people can install `github-set-pr-status` as a global binary
2. Don’t use `inquirer` at all if people run the command with all arguments:
  `GITHUB_TOKEN=<...> github-set-pr-status  <pull-request url> <state> <description>`. The value of  `GITHUB_TOKEN` becomes accessible at `process.env.GITHUB_TOKEN`. You can remove `inquire

[2017-07-31 06:00] sohini-roy commented on #123
Resolved in https://github.com/sohini-roy/github-set-pr-status/commit/0733354906e3fd20f60a39c54590f55cf04c011d . please have a look and suggest improvements :)

[2017-08-01 02:25] gr2m commented on #123
looking good 👍

There are some things you can improve and also add tests, we’ll get to that later :) I just don’t have time at all right now due to work I’m afraid. Hope that next week will free up time a bit for me

[2017-08-01 06:59] Alice-anjali commented on #123
I think there has been a misunderstanding, we haven't completed the issue yet. Please reopen this :-)

[2017-08-01 14:03] gr2m commented on #123
ohhh yes, I’m very sorry!

[2017-08-05 17:17] EladKeyshawn opened #124 "Joining you"
Hi I'm Elad and I found your project really interesting and i'd love to contribute. currently I haven't seen some really small task I could contribute. So it'd be nice if you could point me out!
P.S
I'd love to join you organization so I could view all of you cool projects.
Thanks! 😄

[2017-08-06 14:26] gr2m commented on #124
Welcome Elad! We  currently don’t have open issues for small tasks, but I'm sure we will find some soon! You can watch this repository to be nodified

[2017-08-10 09:16] sohini-roy commented on #123
please have a look at the CLI at https://github.com/sohini-roy/github-pr-semantic-changelog/blob/master/main.js and suggest changes

[2017-08-11 17:46] gr2m commented on #123
hey there, you mean CLI? Because CI usually stands for continuous integration, which we will do soon, too :) I’m having a look now

[2017-08-11 17:59] gr2m commented on #123
the code is currently not working, there is a syntax error. In future, can you do pull requests for all your changes so we can do code reviews, it will make it easier for us to discuss.

You added a package [`github-token-user`](https://www.npmjs.com/package/github-token-user) that I don’t think you need, it just loads the user data based on the token, we don’t need that.

From the code it looks l

[2017-08-11 19:13] sohini-roy commented on #123
yes yes, it was a typing mistake i was unaware that i had made

[2017-08-13 21:22] #124 closed, assigned to nobody

[2017-08-13 21:40] gr2m opened #125 "Documentation: add "name" option"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).

### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

No coding

[2017-08-15 16:35] gr2m commented on #125
@aylincakal is working on it at https://github.com/hoodiehq/hoodie/pull/796

[2017-08-19 07:41] usmandap commented on #125
@gr2m Hey let me know if anyhow she is not working. May be I can contribute.

[2017-08-20 21:05] gr2m commented on #125
@usmandap Aylin asked me to open up the issue for other people, so if you are still interested, the issue is all yours :) I’ve invited you as collaborator to this repository so you can check of the checkboxes above 👍

[2017-09-16 19:14] ojasbansal commented on #125
@gr2m Hey I'm a newbie. Can i contribute ?
 I had never contribute to open source. how can i start?

[2017-09-16 19:15] ojas1234 commented on #125
@gr2m I had never contribute to open source. how can i start?

[2017-09-19 19:43] harshil1712 commented on #125
Hello. I would like to contribute. I am a newbie. Please let me know how can I contribute.

[2017-09-19 20:25] gr2m commented on #125
The issue has been resolved via https://github.com/hoodiehq/hoodie/commit/f14cd935f8f2e8ae9e4ff213af380d807aedb4d6.

I’m sorry we don’t have open issues right now that we could use to onboard more contributors. I’ll let you know once we have some. You can also watch this repository :)

[2017-09-19 20:25] #125 closed, assigned to nobody

[2017-10-14 19:37] first-timers[bot] opened #126 "Hoodie Account Server API: Update year to 2017"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2017-10-14 19:47] aadityakhare commented on #126
I want to start contributing but I'm totally new to this...how do I claim an issue/assign myself?

[2017-10-14 19:51] LowProfileDog commented on #126
:wave:🐶 @aadityakhare welcome to Hoodie :) we have invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and then follow the checklist above :) Enjoy ✨

[2017-10-14 20:08] aadityakhare commented on #126
@LowProfileDog Completed all the steps mentioned in this tutorial. Please review.

[2017-10-14 20:09] aadityakhare commented on #126
Also, I think I mistakenly closed the issue too.

[2017-10-14 20:12] LowProfileDog commented on #126
Ooops in fact you did :) You fixed the year in the LICENSE file in this repository (camp), not in the repository the issue was actually about, which is https://github.com/hoodiehq/hoodie-account-server-api :) Do you want to send a pull request to correct the year in the LICENSE file there?

[2017-10-14 21:56] aadityakhare commented on #126
oh yeah.. I'll do that

[2017-10-14 22:11] aadityakhare commented on #126
@LowProfileDog I sent a pull request on the correct repository. Please review. Thanks for the tutorial again!

[2017-10-14 22:21] #126 closed, assigned to aadityakhare

[2017-10-14 22:26] LowProfileDog commented on #126
Whee congratulations Aaditya 🎉

Are you on twitter? We like giving shout outs to new contributors!

You can follow us at https://twitter.com/hoodiehq and/or sign up to our monthly newsletter at http://hood.ie/

If you could ⭐️ Star our main repository at https://github.com/hoodiehq/hoodie, that’d be 💯 it helps others to find out about our community 🐶🐻🐔

[2017-10-15 13:05] aadityakhare commented on #126
@LowProfileDog Thanks!
My twitter profile: @aytidaaa

[2017-10-15 18:03] first-timers[bot] opened #128 "Update year to 2017"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2017-10-15 18:07] 090max commented on #128
Assign me this project

[2017-10-15 18:13] DheerajMalisetty commented on #128
claim this issue

[2017-10-15 18:14] DheerajMalisetty commented on #128
assign me this project

[2017-10-15 18:47] LowProfileDog commented on #128
we will pick one person by random tomorrow morning Pacific Time to work on the issue :) Others can also send a pull request if you want to exercise, but we can only accept one pull request.

[2017-10-15 18:55] DheerajMalisetty commented on #128
how will we know we are picked.

[2017-10-15 19:01] LowProfileDog commented on #128
we will invite the user to this repository and assign them to the issue :)

[2017-10-15 19:31] javbit commented on #128
I'll be happy to work on this issue.

[2017-10-15 19:43] admir23 commented on #128
this looks great!  👍  💯

[2017-10-15 20:22] DheerajMalisetty commented on #128
This is very great thing, working on this issue.

[2017-10-16 02:02] griffind2009 commented on #128
I would like to work on it.

[2017-10-16 02:50] lucianosds commented on #128
I want to work on this project.

[2017-10-16 03:03] lucianosds commented on #128
I want to work on this project.

[2017-10-16 08:44] Sdussault commented on #128
Hello! I would be happy to work on this issue.

[2017-10-16 17:43] LowProfileDog commented on #128
Thank you for all your interest and patience, we now have 7 people who would like to work on this issue

1. @090max
1. @admir23
1. @DheerajMalisetty
1. @griffind2009
1. @javbit
1. @lucianosds
1. @Sdussault

Here is our sophisticated randomisation algorithm :)

[code]

Congratulations @lucianosds :) We have invited you to this repository, you can accept the invitation at https://github.com/hoodiehq

[2017-10-16 18:14] gabriellacerda commented on #128
I'll take this one.

[2017-10-17 05:04] #128 closed, assigned to lucianosds

[2017-10-17 05:08] gr2m commented on #128
Thanks everyone! You can follow us at https://twitter.com/hoodiehq and/or sign up to our monthly newsletter at http://hood.ie/

If you could ⭐️ Star our main repository at https://github.com/hoodiehq/hoodie, that’d be 💯 it helps others to find out about our community 🐶🐻🐔

Stay tuned for more first-timers-only issues :)

[2017-10-17 17:53] first-timers[bot] opened #129 "add hacktoberfest section to template"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2017-10-17 19:22] sanghisha145 commented on #129
Hi, I want to contribute

[2017-10-17 19:41] daniel-234 commented on #129
I am available, as well.

[2017-10-17 19:55] rapaportg commented on #129
i would like to help

[2017-10-17 20:16] kostimarko commented on #129
Hello, I am available to help.

[2017-10-17 22:05] LowProfileDog commented on #129
Hello everyone 👋🐶  we will pick one person by random tomorrow morning Pacific Time to work on the issue :) Please feel free to send a pull request if you want to exercise, we are happy to review it. We can only accept one pull request, but if you participate in Hacktoberfest: a pull request does not need to be merged in order to count :)

[2017-10-18 04:15] mjguru commented on #129
Hello, I would love to contribute!

[2017-10-18 18:46] LowProfileDog commented on #129
Thank you for all your interest and patience, we now have 7 people who would like to work on this issue

1. @sanghisha145
1. @daniel-234
1. @rapaportg
1. @kostimarko
1. @mjguru

Here is our sophisticated randomisation algorithm :)

[code]

Congratulations @sanghisha145 :) We have invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once acc

[2017-10-19 03:54] first-timers[bot] opened #131 "Update year in LICENSE file"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2017-10-19 03:59] steventsao commented on #131
Will try this

[2017-10-19 04:04] dbckrde commented on #131
gonna do this

[2017-10-19 04:06] ramyaa commented on #131
Can i give it a try?

[2017-10-19 05:06] MaskyS commented on #131
will try

[2017-10-19 07:20] jomardimac commented on #131
Jomar Dimaculangan:
Can I try this?

[2017-10-19 07:24] 6sen commented on #131
can I give it a shot?

[2017-10-19 09:43] Tekon commented on #131
New to GitHub and Open Source, would love to give this a try :)

[2017-10-19 13:33] Screwed-Up-Head commented on #131
Would like to give this a shot.

[2017-10-19 13:59] alexandersix commented on #131
I can claim this issue! First time trying to make a pull request, so I would appreciate the opportunity to help out!

[2017-10-19 14:10] SirG97 commented on #131
I can do this

[2017-10-19 14:54] dpalmquist84 commented on #131
I'd love to try this.  Brand new to open source!

[2017-10-19 15:27] Habilya commented on #131
I'm looking forward to try this out!

[2017-10-19 16:50] kelimuttu commented on #131
Can I go for it?

[2017-10-19 17:07] LowProfileDog commented on #131
Hello everyone 👋🐶 thanks for all your interest! We will pick one person by random tomorrow morning Pacific Time to work on the issue :) Please feel free to send a pull request if you want to exercise, we are happy to review it. We can only accept one pull request, but if you participate in Hacktoberfest: a pull request does not need to be merged in order to count :)

[2017-10-19 17:11] LowProfileDog commented on #129
Ping @sanghisha145 can you make it :)

If Divya doesn’t get back to us by Monday, we will merge one of the open pull requests closing this issue

[2017-10-19 17:40] DhariniJeeva commented on #131
can I try this?

[2017-10-19 18:21] nerdijoe commented on #126
I'm new to this too, how do I start contributing?

[2017-10-20 02:45] gr2m commented on #126
Wait for new issues to be available, this one is closed already, I’m afraid.

[2017-10-20 03:42] sanghisha145 commented on #129
Hi @LowProfileDog , I can make this, please let me know if I have to update instructions.md since that issue is open.

[2017-10-20 04:24] gr2m commented on #129
hey @sanghisha145, yes, you have to update the `instructions.md` file in the [first-timers-bot repository](https://github.com/hoodiehq/first-timers-bot)

[2017-10-20 04:50] sanghisha145 commented on #129
@gr2m , I forked first-timers-bot repo and now when I tried to update instructions.md in this forked repo, is that fine or any other way to do this update?

[2017-10-20 05:01] sanghisha145 commented on #129
@gr2m  I even updated instructions.md in this hoodie/first-timers-bot repo where after updation, pushed to page where all checks were passed waiting for review. So which way is better : forking or changing in master branch and creating new branch in that?

[2017-10-20 06:05] sanghisha145 commented on #131
Hello , completed all steps, waiting for review

[2017-10-20 19:33] #131 closed, assigned to sanghisha145

[2017-10-20 19:42] LowProfileDog commented on #131
Thank you all for participating, I hope you enjoyed it! If there is anything we can do to make the instructions more clear of if you have any other ideas how we can improve our first-timers issues, we’d love to hear from you!

If you are interested, you can follow us on twitter at https://twitter.com/hoodiehq and subscribe to our newsletter at http://hood.ie/

If you could star our main repository

[2017-10-20 19:48] gr2m commented on #131
Oops sorry I mixed up issues. @sanghisha145 these issues are for first-time contributors only, you already have one at #129 please leave future ones for other first-time contributors :)

For everyone else, I’ll create another issue very soon and will let you know here about it

[2017-10-20 19:52] #129 closed, assigned to nobody

[2017-10-20 19:54] LowProfileDog commented on #129
Thank you all for participating, I hope you enjoyed it! If there is anything we can do to make the instructions more clear or if you have any other ideas how we can improve our first-timers issues, we’d love to hear from you!

If you are interested, you can follow us on twitter at https://twitter.com/hoodiehq and subscribe to our newsletter at http://hood.ie/

If you could star our main repository

[2017-10-21 07:24] sanghisha145 commented on #131
Sure @gr2m , now I understood, elt me know which issues I can take up and work on

[2017-10-21 10:20] harpreetsaini19 commented on #105
I would like to claim this issue!

[2017-10-21 18:20] first-timers[bot] opened #132 "Update year in LICENSE to 2017"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2017-10-21 18:20] gr2m commented on #131
@sanghisha145 no worries at all :)

Everyone else who would like on their first Open Source issue, we created another one:
https://github.com/hoodiehq/camp/issues/132

[2017-10-21 18:25] rakshans1 commented on #132
I would like to work on this

[2017-10-21 18:30] rakshans1 commented on #132
I think it is already changed

[2017-10-21 18:35] emmaodia commented on #132
I CLAIM THIS ISSUE IN ODIN"S NAME!

[2017-10-21 18:37] gr2m commented on #105
Harpreet, have you actually read the issue? :) it’s been worked on for a long time now, you are a little too late I’m afraid

[2017-10-21 18:41] gr2m commented on #105
The first timers app is ready and busy creating first-timers-only issues around GitHub https://github.com/apps/first-timers

Great work @agonzalez0515 & @Techforchange

[2017-10-21 18:41] #105 closed, assigned to gr2m, Techforchange, agonzalez0515

[2017-10-21 18:47] harpreetsaini19 commented on #105
@gr2m Oh my bad, Sorry, but the issue was open and i just got confused by the available label which was added 2 days back. I would like to work on any open issue, can you suggest any?

[2017-10-21 18:54] gr2m commented on #105
Oh you are right, I missed that. It was added by mistake, sorry for that :)

[2017-10-21 19:33] YendyH commented on #132
If this is still up for grabs, I like the chance to make the update.
Thank you!

[2017-10-21 19:39] YendyH commented on #132
I'm sorry for all the comments...I found the file to be updated, should I make a commit or pull request while I wait for the decision on the chosen contributor? I'm not exactly sure how this works >.<
Any feedback is appreciated. Thanks again!

[2017-10-21 19:48] Endless7188 commented on #132
Hello!  I would like to take a shot at this for my first update / PR.

Thank you :)

[2017-10-21 19:50] LowProfileDog commented on #132
Hey everyone, the file has not yet been updated, it still says 2016 in the LICENSE file, see https://github.com/hoodiehq/hoodie-task-client/blob/master/LICENSE#L189

We will pick one person by random tomorrow to work on the issue :) Others can also send a pull request if you want to exercise, but we can only accept one pull request

[2017-10-21 19:57] YendyH commented on #132
Hi @LowProfileDog I thought I sent a pull request **Update year in LICENSE to 2017 #49** but I don't see it under my created pull requests. I'm not sure if I did something wrong.
Any feedback would be greatly appreciated. Thank you!

[2017-10-21 19:59] gr2m commented on #132
@YendyH your pull request is at https://github.com/hoodiehq/hoodie-task-client/pull/49, it’s on a different repository than this issue, maybe that’s what is confusing? You did everything right 👌

[2017-10-21 20:09] ninjandroid commented on #132
Can I work on this one ? Thanks.

[2017-10-21 20:09] ninjandroid commented on #132
Can I work on this one?

[2017-10-21 20:09] mvi-x commented on #132
I'd claim it!

[2017-10-21 20:40] hkrcil commented on #132
I would like to claim it. Thank you.

[2017-10-21 20:54] adrianz261 commented on #132
I would like to claim it too.

[2017-10-21 21:01] charlesmonson commented on #132
I would like to claim this issue.

[2017-10-21 21:42] karansapolia commented on #132
I would like to work on this issue. Would be happy
to be assigned.

[2017-10-21 21:55] tomson611 commented on #132
I would like to tackle this as well! :)

[2017-10-21 23:20] Kansattica commented on #132
I could do this if you guys aren't full up.

[2017-10-22 05:05] brantem commented on #132
I would like to claim this issue.

[2017-10-22 09:11] NickBellamy commented on #132
I would also like to throw my hat into the ring to give this a go!

[2017-10-22 17:38] LowProfileDog commented on #132
Hello everyone, we have 14 people who would like to work on this issue :)

1. @bakyung
1. @charlesmonson
1. @emmaodia
1. @Endless7188
1. @hkrcil
1. @Kansattica
1. @karansapolia
1. @mvi-x
1. @NickBellamy
1. @ninjandroid
1. @rakshans1
1. @tomson611
1. @YendyH
1. @Zuku271

Here is our sophisticated randomisation algorithm :)

[code]

Congratulations @mvi-x :) We have invited you to this repository, y

[2017-10-22 17:41] tomson611 commented on #132
Congrats @mvi-x 🥇 :)

[2017-10-22 17:41] #132 closed, assigned to mvi-x

[2017-10-22 17:42] LowProfileDog commented on #132
Thank you all for participating, we hope you enjoyed it! If there is anything we can do to make the instructions more clear of if you have any other ideas how we can improve our first-timers issues, we’d love to hear from you!

If you are interested, you can follow us on twitter at https://twitter.com/hoodiehq and subscribe to our newsletter at http://hood.ie/

If you could star our main repositor

[2017-10-22 23:06] mvi-x commented on #132
Just saw this. Lucky me! 🎉
I've gone through the checklist and left it at the last step, as ready for review, although since it's already been merged it's probably not necessary.
Thanks for the detailed instructions at every step. It's been incredibly helpful and you've all been very kind. 👏

[2017-11-17 19:35] first-timers[bot] opened #135 "Update year in LICENSE file to 2017"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2017-11-18 03:24] WaliHassanKhan commented on #135
I would like to contribute

[2017-11-18 16:52] LowProfileDog commented on #135
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2017-11-18 18:20] WaliHassanKhan commented on #135
The issue is already resolved

[2017-11-18 18:39] gr2m commented on #135
@WaliHassanKhan the issue is about the https://github.com/hoodiehq/hoodie-task/ repository, you can see the file here: https://github.com/hoodiehq/hoodie-task/blob/master/LICENSE see line 189.

Sorry for the confusion, I think we should make this more clear :)

[2017-11-18 18:52] WaliHassanKhan commented on #135
@gr2m  Thanks

[2017-11-22 18:50] #135 closed, assigned to WaliHassanKhan

[2017-11-22 18:51] gr2m commented on #135
🎉 congratulations to your first pull request 🎉

[2018-01-19 04:17] first-timers[bot] opened #136 "update license year"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2018-01-19 05:01] lenapan commented on #136
Hi Angie :)

[2018-01-19 05:08] lenapan commented on #136
I'm ready

[2018-01-19 06:25] kkc-al commented on #136
Can I work on this?

[2018-01-19 14:41] Navneet-Sahota commented on #136
__Can I work on this?__

[2018-01-19 22:31] SetCodesToFire commented on #136
i really want to work on this...

[2018-01-19 22:47] SruthiV commented on #136
Hi, I would love to work on this!

[2018-01-20 17:31] benreckas commented on #136
I'd like to contribute.

[2018-01-20 18:30] first-timers[bot] opened #137 "Update Copyright year to 2018"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.dig

[2018-01-20 20:48] benreckas commented on #137
I'd like to contribute.

[2018-01-21 10:06] kkc-al commented on #137
May I do this?

[2018-01-21 10:29] cheburan commented on #137
Would like to contribute.

[2018-01-21 21:50] gr2m commented on #137
hey there, if you like, you can all send a pull request to practise, we will review them all and you can ask questions here or in your pull request if you have any.

I’ll choose one pull request by random tomorrow.

Enjoy :)

[2018-01-21 21:56] agonzalez0515 commented on #136
Hi everyone! Thank you for your interest.

We have selected one person at random to submit a Pull Request and have it merged.

1. @lenapan
2. @kk-gndu
3. @Navneet-Sahota
4. @SetCodesToFire
5. @SruthiV
6. @benreckas

4

Congratulations @SetCodesToFire :) We have invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, please assig

[2018-01-22 04:32] Patrawr commented on #137
I'd like to contribute my first pull-request.

[2018-01-22 17:55] gr2m commented on #137
@Patrawr feel free to send a pull request if you’d like to exercise. I’d be happy to review it.

I’ll merge @benreckas pull request at https://github.com/hoodiehq/camp/pull/138 tomorrow or so

[2018-01-22 18:00] Patrawr commented on #137
Great, will do!

[2018-01-23 16:52] gr2m commented on #137
done via https://github.com/hoodiehq/camp/pull/138 :) thanks everyone

[2018-01-23 16:53] #137 closed, assigned to benreckas

[2018-01-26 15:58] adnan-azmat commented on #136
I would love to work on this :-)
I want to contribute to this.

[2018-01-31 03:07] Anu4ruby commented on #136
hi I would like to contribute!

[2018-02-03 00:00] totorovan commented on #136
I'd love to work on this!

[2018-02-10 20:30] Hmaddox987 commented on #136
I'd love to work on this issue. Thanks!

[2018-02-15 04:27] apopovi2 commented on #136
I would love to work on this issue!

[2018-02-22 05:59] #136 closed, assigned to SetCodesToFire

[2018-10-08 02:08] ajmeese7 opened #143 "Broken link"
The link in the project description is dead. Multiple broken links in the README as well. I will submit a PR for the README links but I can't do anything about the one in the link section at the top of the page.

Edit: I was referring to the gh-pages branch. I forgot to specify

[2019-09-28 18:09] gr2m commented on #123
Hey how is it going? I think we can close this issue?

[2019-09-30 05:13] Alice-anjali commented on #123
Yes, we can close this issue now.

[2019-09-30 05:13] #123 closed, assigned to sohini-roy, Alice-anjali