[2016-05-18 05:43] gr2m opened #1 "Make `npm start help` an alias for `npm start -- --help`"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 06:10] gr2m opened #2 "npm start -- setup"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

JavaScript, Node.js. Knowledge about `npm` would be helpful but are not required.
### ❓ The Motivation

We try to integrate very tightly with `npm` and its eco system. Instead of creating our own [CLI](https://en.wikipedia.org/wiki/Command-line_interface) tool, we want to use `npm` directly. At th

[2016-05-18 06:18] gr2m opened #3 "Run setup in `npm install --save hoodie` posthook script"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

This issue dep

[2016-05-18 06:33] gr2m opened #4 "💯 Code Coverage for hoodie"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [OSCON Contribute](https://ti.to/hoodie/oscon-meet-the-hoodies) until May 20th, 2016.
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR)

[2016-05-18 06:52] gr2m opened #5 "Bundle /hoodie/client.js on demand"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 07:08] gr2m opened #6 "don’t write files when run in memory"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

JavaScript, Node.js.
### ❓ The Motivation

Hoodie can run in an "in memory" mode, meaning that it doesn’t persist any data to the hard drive. All data vanishes when the server stops. This is great for testing, and for quick deployments to read-only systems like [Heroku](https://www.heroku.com/) or

[2016-05-18 07:16] gr2m opened #7 "npm start -- console"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 07:26] gr2m opened #8 "Hoodie default UI"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 07:36] gr2m opened #9 "hoodie.account.isSignedIn() returns true in “signout" event handler"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

JavaScript, Node.js. Although this is code that runs in the browser, it looks like Node.js code and can be tested with node only.
### 🐞 The Bug

[code]

You can run the code on https://tracker.hood.ie/ – create an account, then open the console, paste it in and run it.
### :dart: The goal

`hoodie

[2016-05-18 07:46] gr2m opened #10 "allow `new Account(url)` as shortcut for `new Account({url: url})`"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 07:57] boennemann commented on #2
To clear up possible confusion, @gr2m, do you want to go for `npm start setup`, or `npm start -- setup`?
The first one would require reparsing npm's arguments and might lead to confusion and significant edge case handling. The second option would be the npm way of doing things, but of course it's a bit weird to type.

[2016-05-18 08:09] gr2m commented on #2
What could be the side effects of `npm start setup` being handled by hoodie? I’ve seen @kentcdodds doing it at https://github.com/kentcdodds/p-s and thought this is pretty cool

[2016-05-18 13:09] gr2m opened #11 "admin.sessions.add({username}) fails with Not Found"
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### 🤔 What you will need to know

JavaScript, Node.js. Although this is code that runs in the browser, it looks lik

[2016-05-18 13:20] gr2m opened #12 "admin.signOut() throws "TypeError: Cannot read property 'session' of null""
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-05-18 13:28] gr2m opened #13 "pouchdb-hoodie-api: use .changes() for events"
### 🤔 What you will need to know

**This one is challenging**. I tried it myself a few months ago and failed. You should know the JavaScript Event Loop, understand why an immediately resolved Promise and `process.nextTick()` do not call their callbacks always in the same order, ideally find a way to change that or a work around.

### :dart: The goal

We once had a very simple, beautiful solution f

[2016-05-18 13:43] gr2m opened #14 "Upgrade hoodie-app-mapchat to new Hoodie"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :dart: The goal

The [MapChat App](https://github.com/hoodiehq/hoodie-app-mapchat) is an example application we built quite a while a go for the old Hoodie. As our Camp Release is about to come out we would like to update it to the latest hoodie. We also use it for a tutorial and would like to update it for the new release, se

[2016-05-18 13:45] jennwrites opened #15 "Proofread Camp Docs 📝"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [OSCON Contribute](https://ti.to/hoodie/oscon-meet-the-hoodies) until May 20th, 2016.
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR)

[2016-05-18 13:57] jennwrites opened #16 "Create a Wikipedia entry for Hoodie"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

How to add/edi

[2016-05-18 14:03] jennwrites opened #17 "🐦 Update Twitter, background and avatar"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

Photoshop or e

[2016-05-18 14:05] jennwrites opened #18 "Blog post about Hoodie 🐶 at OSCON!"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [OSCON Contribute](https://ti.to/hoodie/oscon-meet-the-hoodies) until May 20th, 2016.
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR)

[2016-05-18 14:07] gr2m opened #19 "What could be a useful UI if an app has no `public/` folder"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

Hoodie is a generic backend for your application, but can also serve your static html application. The latter is not required, it’s a common use case that people run their Hoodie Server somewhere like https://myhoodieapp.com` and the static app is served directly from GitHub pages or [surge.s](htt

[2016-05-18 14:12] gr2m opened #20 "What could be a useful UI for `/hoodie`"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

Hoodie is a generic backend for your application, but also provides a few UIs (html pages) out of the box. These are `/hoodie` where we want to show some generic information about Hoodie or what ever makes sense. There is also [/hoodie/store](https://tracker.hood.ie/hoodie/store/) and [/hoodie/acc

[2016-05-18 14:15] gr2m opened #21 "What could be a useful UI for `/hoodie/store`?"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

Hoodie is a generic backend for your application, but also provides a few UIs (html pages) out of the box. There is  [/hoodie/store](https://tracker.hood.ie/hoodie/store/), [/hoodie/account](https://tracker.hood.ie/hoodie/account/) and [/hoodie/admin](https://tracker.hood.ie/hoodie/admin/) at this

[2016-05-18 14:16] gr2m opened #22 "What could be a useful UI for `/hoodie/account`?"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

Hoodie is a generic backend for your application, but also provides a few UIs (html pages) out of the box. There is  [/hoodie/account](https://tracker.hood.ie/hoodie/account/), [/hoodie/store](https://tracker.hood.ie/hoodie/store/) and [/hoodie/admin](https://tracker.hood.ie/hoodie/admin/) at this

[2016-05-18 14:23] gr2m opened #23 "Review Camp App tutorial"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

We created a t

[2016-05-18 14:29] gr2m opened #24 "Update Deployment Docs to a Linux Server"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

We have docume

[2016-05-18 14:33] gr2m opened #25 "Update "Getting started with Hoodie - Part 2" tutorial to the Hoodie Camp Release"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### :dart: The goal

The current tutorial is emp

[2016-05-18 15:10] kentcdodds commented on #2
In case it's useful, here's a brief explanation of why I use `start`: https://github.com/kentcdodds/p-s#why-npm-start

[2016-05-18 21:51] rossyoung5 commented on #15
Hey I'd like to claim this issue. Thanks!

[2016-05-19 01:59] jennwrites commented on #15
It's yours @rossyoung5!

[2016-05-19 15:56] rossyoung5 commented on #15
For the documentation, what do I need to actually fork/edit? There's just an empty html doc in the repo.

[2016-05-19 16:01] gr2m commented on #15
@rossyoung5 the repository is https://github.com/hoodiehq/documentation. All the content for the Camp Docs are the `*.md` files in https://github.com/hoodiehq/documentation/tree/gh-pages/camp – does that work for you?

[2016-05-19 21:00] rossyoung5 commented on #15
That works! Thanks.

[2016-05-19 22:26] oluoluoxenfree commented on #4
I'd like to do this one :100:

[2016-05-19 22:37] gr2m commented on #4
It’s all yours! Good luck and just in case you get stuck, don’t wait too long, we’re happy to help. Enjoy!

[2016-05-20 19:08] #18 closed, assigned to gr2m

[2016-05-22 09:08] dwouda27 opened #26 "PayPal.Me/dwouda/25"
who can give  PayPal.Me/dwouda/25

[2016-05-22 09:09] dwouda27 commented on #26
try to hold contact end i give dubbel back

[2016-05-22 13:35] #26 closed

[2016-05-25 16:18] jennwrites opened #27 "Blogpost: Hoodies in NYC for 🗽 EmpireJS!"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s reserved for participants of [EmpireJS OSS Night](http://2016.empirejs.org/#oss-night) or [NYC, Meet the Hoodies](https://ti.to/hoodie/nyc-meet-the-hoodies-3)!
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@Y

[2016-05-26 00:47] jorydotcom commented on #23
Note: The live tutorial at [http://camp-tutorial.hood.ie](http://camp-tutorial.hood.ie) is throwing a 502 error

[2016-05-26 01:02] ArcadiusK commented on #8
I have some ideas about improving the page.

[2016-05-26 01:23] jorydotcom commented on #23
I've been reading through this and have some ideas for updates/polish, but have some questions before I go crazy:
- does this need to be a bootstrap app?
- are there other tutorial sites for hoodie, or will this be the primary tutorial app?
- do you imagine wanting to expand this tutorial to include other learning objectives?

Other rando thoughts as I look at this:
- tutorial should reference/sup

[2016-05-26 02:49] gr2m commented on #8
I’ve merged your PR it was great, thanks! But it’s not quite what this issue is about. This issue is about showing something different at `/` and `/hoodie` when your app has now `/public` folder.

The page you edited is the "fallback UI". I would put that into a new folder in the `hoodie` repository, and call it `fallback-ui`. The `hoodie/index.html` file we can just change to some dummy content f

[2016-05-28 03:03] dsims00 commented on #9
I'd like to do this one

[2016-05-29 20:30] gr2m commented on #9
@dsims00 all yours :) Check off the checkboxes above as you go :)

[2016-05-29 21:34] dsims00 commented on #9
@gr2m this will be my second PR!

[2016-05-30 12:05] kellyjandrews commented on #1
I'll claim this one.

[2016-05-30 12:32] kellyjandrews commented on #2
I'll do this one as well, if I'm already doing #1

[2016-05-30 13:39] kellyjandrews commented on #1
What it seem like you want here is essentially a clone of the `p-s` module inside the `start.js` script, is that accurate? Do you also want `./bin/start.js` to remain directly accessible as well?

[2016-05-30 15:35] gr2m commented on #2
Hey @kellyjandrews, I invited you to the repo so we can assign you to the issue: https://github.com/hoodiehq/camp/invitations

I would suggest you do this issue first but just with `npm start -- setup`, it is what we need the most right now. Once we have that, let’s chat on creating the alias like `npm start setup` for `npm start -- setup` and `npm start help` for `npm start -- help` — does that w

[2016-05-30 15:46] kellyjandrews commented on #2
That works for me - also #7 seems related. Trying to determine the best approach here - but I assume simply adding another dep here isn't what's desired.

[2016-05-30 15:52] gr2m commented on #2
I’ve altered #7 for now to only implement `npm start -- console` for now.

The alias for `npm start xyz` is just a nice to have. I’d like to give it a try to see how complex it would be, but if it adds to much complexity I’d be okay to stick with `npm start -- xyz`.

[2016-05-31 11:17] kellyjandrews commented on #2
Parsing the arguments is actually fairly easy here.

[code]

Should be straight forward to have `npm start setup` but still trying things out to see how they work.

[2016-05-31 14:27] gr2m commented on #2
sounds good 👍 Don’t worry about starting a pull request with work-in-progress, most of our pull requests are "messy" in a good way, we only clean them up before we merge it, that’s why the commit history looks so clean :)

[2016-06-04 22:19] gr2m opened #29 "Fix tests in hoodie-store"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🤔 What you will need to know

`hoodie-store` is one of the core components of [Hoodie’s architecture](https://github.com/hoodiehq/hoodie/tree/master/server#store-octocat--). It integrates [the Store Server](https://github.com/hoodiehq/hoodie-store-server#readme) and [the Store Client](https://github.com/hoodiehq/hoodie-store-c

[2016-06-05 17:20] alanmbarr commented on #29
Hi I would like to claim this issue.

[2016-06-05 18:57] gr2m commented on #29
All yours :) I’ve invited you to the repo, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, you can check of the steps above as you go

[2016-06-05 18:59] alanmbarr commented on #29
I sent a pull request but sauce couldn't connect :(

[2016-06-05 19:10] gr2m commented on #29
Our fault, it was not setup correctly. Should work now

[2016-06-05 21:26] gr2m commented on #29
Thanks for taking the time and resolving the issue, once a 2nd maintainers gives their `LGTM` we can merge it in.

Welcome at Hoodie 🎉 I’ve invited you to Hoodie’s Contributors team :) Are you on twitter? We love giving shout-outs to new contributors

I hope you like working on the problem. If you have any feedback, please let us know :) If you like to work on something else, please feel free to g

[2016-06-05 21:55] #29 closed, assigned to alanmbarr

[2016-06-06 00:57] alanmbarr commented on #29
you can give me a shoutout at @alanmbarr on twitter

[2016-06-06 14:03] #9 closed, assigned to gr2m, dsims00

[2016-06-06 22:28] gr2m commented on #4
@oluoluoxenfree how are things?

[2016-06-06 23:17] oluoluoxenfree commented on #4
A bit stuck on how best to tackle it to be honest!

[2016-06-06 23:25] gr2m commented on #4
if you like, ping me in the chat, I’d be happy to help you get unstuck :)

[2016-06-07 00:26] gr2m commented on #23
that’s fixed now, thanks :)

no :)

This is the first tutorial app we have so far. It’s special as it also introduces ServiceWorker, to create an app that fully works offline.

I don’t think so, I’d focus in on its scope, and create other tutorials for other objectives?

I dunno how yet, but we are very open to your suggestions

Good point. I don’t know any out of my head, but if you find one, let

[2016-06-07 00:53] gr2m commented on #27
Here are some pictures I took from the event:
https://www.dropbox.com/sh/6clhn2cdhxitk4f/AABrhCqaYgliQCyXgqOksBBwa?dl=0

in a nutshell:
1. I Took the train from Boston to New York on Wednesday :)
2. [OSS Night](http://2016.empirejs.org/#oss-night) on Wednesday evening, lots of new contributors on Hoodie!
3. EmpireJS on Thursday / Friday. I gave my talk on "Welcoming Communities" on Thursday mornin

[2016-06-10 21:44] machikoyasuda commented on #14
I would like to claim this issue!

[2016-06-10 21:47] gr2m commented on #14
All yours :)

[2016-06-16 01:32] gr2m commented on #6
Looking into it myself, as deployment targets like [now](https://zeit.co/now) and [Hyperdev](https://hyperdev.com/) are read only, and platforms like that are great to quickly deploy a hoodie app for testing or showcase purpose

[2016-06-16 15:21] gr2m commented on #6
can I haz review please? https://github.com/hoodiehq/hoodie/pull/510

[2016-06-17 20:13] #6 closed, assigned to gr2m

[2016-06-19 16:39] gr2m opened #30 "incorrect events in scoped stores"
### 🤔 What you will need to know

JavaScript, git. Basics of [Node.js](https://nodejs.org/en/) & [npm](https://docs.npmjs.com/)
### 🐞 The Bug

We run into an issue with our "scoped store API". Hoodie comes with a store API in the browser that looks like `hoodie.store.add({foo: 'bar'})` and `hoodie.store.find('id123')`. A scoped store implicitly sets / assumes the `type` property, it looks like thi

[2016-06-19 19:26] gr2m commented on #2
Hey @kellyjandrews how is it going?

[2016-06-20 13:44] kellyjandrews commented on #2
Slower than expected. Working on it right now though - I'll keep you posted.

[2016-06-20 14:20] gr2m commented on #2
thanks! I might be slow giving feedback this week as I’m at http://opensourcebridge.org/ and http://offlinefirst.org/camp/, but will do my best to help with any questions. Feel free to ping people in http://hood.ie/chat/, there usually are people around :)

[2016-06-20 14:23] kellyjandrews commented on #2
Will do - submitting a PR now for the initial argument flow suggestion.  I will have a few questions, and I'll use the chat channels to get those answered. Thanks!

[2016-06-21 13:27] dasilvacontin commented on #30
'find out how to ~~not~~ make them pass' (?)

[2016-06-21 14:19] gr2m commented on #30
fixed, thanks @dasilvacontin!

[2016-06-22 19:11] vaibhavjain-git commented on #30
Hey..I want to solve this issue.
Thanks

[2016-06-22 20:01] gr2m commented on #30
all yours, welcome @vaibhavjain-git ✨  Good luck, and let us know if you get stuck in any way, we are happy to help :)

[2016-06-23 20:51] gr2m commented on #2
The issue is up for grabs again :)

[2016-07-12 01:53] norkuy commented on #17
I'll take a shot at it.
avatar:
https://www.dropbox.com/s/vo3cmtsiziak0u6/avatar.png?dl=0
header:
https://www.dropbox.com/s/ocv9o8q7d68l49u/twitterHeader.png?dl=0

[2016-07-15 19:19] machikoyasuda commented on #14
Starting it here with our open source pair programming meetup group in LA: https://github.com/fullstackla/hoodie-map-chat-demo

Added a bunch of LA locations in our test app for @gr2m :)

![screenshot 2016-07-15 12 18 43](https://cloud.githubusercontent.com/assets/3673236/16885986/4fcb9942-4a86-11e6-8082-4750ac251838.png)

[2016-07-28 03:31] machikoyasuda commented on #14
What we did today so far: https://github.com/hoodiehq/hoodie-app-mapchat/pull/14

[code]

[2016-08-04 23:33] tinyinkling commented on #25
Inspired by the talk yesterday at CascadiaFest by @gr2m - I'd like to claim this issue and work on the docs!

[2016-08-04 23:48] gr2m commented on #25
That’s great Brooke, welcome :) Please find me if you have any questions, I’d be more than happy to give you an overview of things.

[2016-08-07 06:25] capellini commented on #12
I'll claim this.

[2016-08-07 18:27] gr2m commented on #12
All yours 👍 Please let us know if you have any questions

[2016-08-07 21:43] capellini commented on #12
Code is ready for review (with a few comments on the integration test that I created).  Thanks for the opportunity to contribute to such a great project!  I'm looking forward to your comments and to contributing more in the future.

[2016-08-08 15:36] #12 closed, assigned to capellini

[2016-08-08 15:39] gr2m commented on #12
Welcome to Hoodie @capellini 🐶 💐 I've invited you to the Hoodie contributors team on GitHub :)

We like giving shout outs to our new contributors on Twitter, do you have a twitter account? Of course nevermind us if you prefer us not to :)

[2016-08-08 16:38] capellini commented on #12
Happy to be a member of the contributors team!  Sure, a shout out would be wonderful.  My twitter handle is @capellini.

[2016-08-11 03:04] thomasjinlo commented on #10
Me!

[2016-08-11 04:37] #10 closed, assigned to nobody

[2016-08-11 21:46] gr2m commented on #5
done via https://github.com/hoodiehq/hoodie/pull/538

[2016-08-11 21:46] #5 closed, assigned to nobody

[2016-08-25 00:57] gr2m commented on #1
sorry I just realised I never got back to you on your question, I’m so sorry!

Meanwhile we had more discussions on Hoodie and CLI and we decided to just stick to the standard notation without hoodie-specific magic. So the `npm start -- --help` is good enough for us :)

There are still some other issues to work on if you’d still like to contribute something? I'm happy to assist, too

[2016-08-25 00:57] #1 closed, assigned to gr2m, kellyjandrews

[2016-08-25 01:05] gr2m commented on #2
Ignore the issue history above, this issue is up for grabs again :)

[2016-08-25 01:11] gr2m commented on #4
@oluoluoxenfree we are done with our refactoring. Do you want to give it another go?

[2016-08-25 01:13] gr2m commented on #23
Hey @jorydotcom, do you want to continue to work on this?

[2016-08-25 01:14] gr2m commented on #30
@vaibhavjain-git do you still want to look into the issue?

[2016-08-25 01:37] gr2m opened #31 "use standard universallay unique IDs for account IDs"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who
did not yet contribute to Hoodie to work on this issue. Follow
[@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of
these issues across many open source projects :)
### 🤔 What you will need to know

Node.js
### ❓

[2016-08-25 18:25] oluoluoxenfree commented on #4
Yes I would! I'll start looking at it on Saturday, thanks so much.

[2016-08-25 18:48] gr2m commented on #4
glad to hear :) I’m in LA timezone now so won’t be able to help after ~6pm, but I should be around on Saturday. Otherwise best to ask for help in our chat http://hood.ie/chat/

[2016-08-27 18:57] akhillb commented on #31
Hey I would like to work on this.

[2016-08-27 19:47] gr2m commented on #31
great, all yours @akhillb

[2016-08-28 22:55] CrowdHailer commented on #15
hey hey, hows this issue getting along. I'm certainly up for proof reading. @rossyoung5 you still claiming this issue and the guy to talk to

[2016-08-29 02:21] distalx commented on #24
Hey I'd like to claim this issue. Thanks!

[2016-08-29 10:47] varjmes commented on #24
@distalx issued claimed for you! :)

[2016-08-29 20:28] gr2m commented on #15
I think @rossyoung5 finished his review via https://github.com/hoodiehq/documentation/pull/219, and we only forgot to close the issue? Or is there something left to be reviewed from your side @rossyoung5? Sorry we missed to update the issue when https://github.com/hoodiehq/documentation/pull/219 landed

[2016-08-29 20:31] rossyoung5 commented on #15
Yeah I think I had finished up at 219, so I guess it was just never closed.

[2016-08-29 20:37] gr2m commented on #15
Thanks again for your help Ross, and sorry for missing that!

Closed via https://github.com/hoodiehq/camp/issues/15

[2016-08-29 20:37] #15 closed, assigned to rossyoung5

[2016-08-30 17:44] jennwrites commented on #27
Closing because it's been 3 months and this doesn't seem newsworthy anymore.

[2016-08-30 17:44] #27 closed, assigned to nobody

[2016-08-31 03:28] kamon-harrell commented on #16
Claimed

[2016-09-01 17:23] gr2m commented on #24
from slack chat:

@distalx:

[2016-09-01 17:23] gr2m commented on #24
I’m no expert when it comes to deployment. I think we can leave out the "Deploy on hosting server" because there are no compatibale services right now, but instead add a section "Deploy with docker"?

we have a docker setup in the https://github.com/hoodiehq/hoodie-app-tracker repo, does that help?

[2016-09-04 09:52] etopiei commented on #16
I'd be happy to write up a wikipedia article about Hoodie.

[2016-09-05 15:26] gr2m commented on #16
That’s great @etopiei, welcome to Hoodie :) if you have questions about the project, I’m happy help as good as I can. I’m one of the founding contributors to the project

[2016-09-09 23:59] distalx commented on #24
@gr2m we could have different sections for deployment. like w/ or w/o docker !

[2016-09-10 00:30] gr2m commented on #24
Yeah great idea 👍

[2016-09-12 01:32] klazich commented on #2
I'd like to give this a shot. This would be my first time working on a project outside of a online courses and challenges. If there is a different issue better suited for a beginner i'll claim that one. Or, just tell me to go the hell away and i'll understand :) Good luck with hoodie!

[2016-09-12 01:37] gr2m commented on #2
Nobody will ever tell you do go away as long as you are nice to us :) it's all yours! Let us know if you need any help! Welcome at Hoodie :)

[2016-09-13 01:43] klazich commented on #2
Good to hear! I'll get started.

[2016-09-17 19:40] gr2m commented on #4
@oluoluoxenfree 👋

[2016-09-17 19:41] gr2m commented on #24
@distalx how is it going? Anything we can help with? Please don’t get stuck for too long, I know things can be very hard when working with other people’s code :) We’re happy to assist

[2016-09-17 19:42] gr2m commented on #25
Hey @tinyinkling, how are things going? Anything we can help with?

[2016-09-17 19:43] gr2m commented on #31
how are things going @akhillb? Is there anything we can help with?

[2016-09-17 19:45] gr2m commented on #30
Hey @capellini, would you like to take this one?

[2016-09-17 19:53] gr2m commented on #17
I’m so sorry @norkuy we never got back to you :( Thanks a lot for creating these graphics! I’d vote for making the header background a solid color and just showing the tent illustration. Any thoughts @renrutnnej @espy @hoodiehq/maintainers?

[2016-09-17 23:48] klazich commented on #2
I'll hopefully have something in the next few days. It's been a busy work week so I haven't had much time to look at it.

[2016-09-18 03:05] distalx commented on #24
@gr2m
I think of two way when it comes to deploying hoodies to a Linux Server.
Either it could be a step by step instructions or we could have a script which could execute all those steps behalf of the user.
I personally like the second approach So I’m playing around with the bash scripting - for last couple of days - but frankly speaking I’m not that good with the scripting - but I’m learning a l

[2016-09-18 17:45] gr2m commented on #2
No worries, keep us posted :)

[2016-09-18 17:46] gr2m commented on #24
I think both would be good? Explaining how to deploy to linux, and then offering a script for convenience?

[2016-09-18 19:53] gr2m opened #32 "[hoodie.camp] Custom Team Pages"
### ❓ The Motivation

[We aim to be one of open source's most diverse and inclusive communities](https://opensource.com/life/16/2/hoodie-open-source-community). One way we try to live up to that ideal is to acknowledge that code contributions are only one part of a healthy Open Source community, hence the different teams in Hoodie: Code, Design, Documentation and Editorial, all equally important.

[2016-09-19 02:10] capellini commented on #30
@gr2m -- sure thing, I'll take a look.

[2016-09-19 02:28] gr2m commented on #32
preview at https://hoodie-camp-33.surge.sh. I know it’s not very useful yet, but all I could do in a half a day today. I’d love to hear what you think @renrutnnej and happy about feedback from other @hoodiehq/maintainers

From my side, I think the team landing pages  should be less content-heavy, we can make a separate about page. It should be more actionable, also for maintainers

[2016-09-19 13:43] capellini commented on #30
@gr2m -- here's the first issue that I see.  Setting up an environment as described in hoodiehq/hoodie-store-client#95, that is:
1. `npm init -y` in an empty directory
2. `npm i hoodie --save --no-optional`
3. Add the `start` command to `package.json`
4. Add a public/index.html file that has `<script src="/hoodie/client.js"></script>` in it
5. Start the app with `npm start -- --inMemory`

If I go

[2016-09-19 18:39] gr2m commented on #30
oh wow, thanks for the great research on this! I totally missed this line, that shouldn’t work in the first place

[code]

I would argue that `hoodie.store()` should require the type property to be set. If it’s not set, it should thrown an TypeError.

I’d suggest we do a pull request for that issue first?

Can you point me to the tests you mentioned here?

[2016-09-19 21:11] oluoluoxenfree commented on #4
Hi!

Tomorrow I will work on this!! I've been terrible!

[2016-09-19 22:35] capellini commented on #30
Sure thing.  I'll submit an issue and a PR for it.

Quick question -- what would be the expected behavior of a call like this?

[code]

In this example, we would overwrite the `type` in the records for each book to `books`.  Should we instead throw a TypeError because someone is defining a `type` which doesn't match the current scoped store `type` (i.e. the `type` property is essentially a reserve

[2016-09-19 23:46] gr2m commented on #4
I’ll be around after 10am LA time if you have any questions. You can ping me in slack chat :)

[2016-09-20 01:58] gr2m commented on #30
Yes, I agree, we should forbid to change set the `type` property to anything other than the type passed to `hoodie.store(type)`, we should throw a type error.

I’ll make two separate issues for these on the `hoodie-client-store` module and assign them to you, ok?

[2016-09-20 03:36] capellini commented on #30
Yes, please do.  Sounds great.

[2016-09-20 04:24] gr2m commented on #30
the issues are here, do these work for you?
- https://github.com/hoodiehq/hoodie-store-client/issues/128
- https://github.com/hoodiehq/hoodie-store-client/issues/129

[2016-09-20 04:27] capellini commented on #30
Yes, that works.  Thanks.

[2016-09-24 12:15] NickColley opened #34 "SSL for the deployed site"
Is it possible to enable https for github pages?

[2016-09-24 12:26] varjmes commented on #34
@nickcolley https is on github pages by default

eg https://charlotteis.github.io/ (bad, old site) i didn't set it to do anything

[2016-09-24 12:38] NickColley commented on #34
Yeah just thinking of http://hoodie.camp/

[2016-09-24 12:51] varjmes commented on #34
ohhhhhhhh by bad. sorry.

[2016-09-26 03:27] gr2m commented on #34
Good question though, I think there was a way to do it with some CDN provider? Hmmm maybe I just dreamed it though :)

[2016-09-26 03:50] gr2m commented on #34
looks like Cloudflare is the way to go:
https://twitter.com/gr2m/status/780247514830086144

[2016-09-26 19:13] klazich commented on #2
So, here is what I have so far:

[code]

With this script set to run on package `"install"` (or any `"install"` lifecycle event) I can set the parent `package.json` `"start"` script.

I was thinking of using this to set the `"prestart"` hook to run a file that listens to `process.argv` for passed commands (or `process.env` for lifecycle events). So `npm start setup` can still set `"start"` to `"ho

[2016-09-26 19:57] gr2m commented on #2
Yeah that sounds good! I just realized that the idea of `npm start -- setup` to set the package.json’s start script doesn’t make much sense because unless it’s set we can’t run `npm start` :facepalm: :) Sorry for the confusion. So I think you pretty much work on this issue and #3 at the same time, which is graet

I would suggest we run your script in `postinstall`. Three
1. `var fileName = '../../

[2016-09-26 20:44] klazich commented on #2
So use path like this?:

[code]

Sorry, still fairly new to Node.

Also, will the `package.json` we want to target always be 2 above where the script executes? I was hoping there would be some other way to get the project root but didn't find anything.

[2016-09-26 22:04] gr2m commented on #2
yes that looks right.

Your comment is right though, there might be edge cases where the target is not exactly 2 directories above the Hoodie code. Alternatively you can also do `path.join(process.cwd(), 'package.json')`. `process.cwd()` returns the full path of the directory you run the `npm install` command from, so it acchieves the same thing. Maybe let’s use that?

[2016-09-26 22:04] gr2m commented on #2
Also no need to excuse, happy to help :)

[2016-09-26 22:52] barretodaniel commented on #11
Hi there, I'd like to give this a shot.

[2016-09-27 03:52] gr2m commented on #11
All yours @barretodaniel :)

[2016-09-27 18:20] gr2m commented on #3
@klazich I’m assigning you to this one as well, as you are already implementing it in #2 :)

[2016-09-27 18:20] gr2m commented on #16
@etopiei are you still working on it?

[2016-09-27 21:19] cheapwebmonkey commented on #19
I would have all of the following: version, explanation,  link to the other generic UIs @ /hoodie, /hoodie/account and /hoodie/store.

[2016-09-27 22:05] gabrielperales commented on #7
I would like to give it a shot! Looks challenging to make a REPL, but I've some try and I want to try.

[2016-09-28 00:47] norkuy commented on #17
No problem @gr2m. Happy to help. I can put the tent illustration on a white background if that works. Thanks

[2016-09-28 01:05] machikoyasuda commented on #17
@norkuy These are so cute <3 I second @gr2m's idea of the tent illustration on a white background 👍

[2016-09-28 02:08] jcquinlan commented on #13
Gonna take a stab at it, but no guarantees, haha. Forking now - I'll keep you in the (event) loop.

[2016-09-28 09:36] etopiei commented on #16
Yeah, been a bit hectic recently, but I'm hoping to have a draft done by the end of the weekend.

[2016-09-28 17:47] gr2m commented on #17
@norkuy yeah that would be great, thanks :)

[2016-09-28 21:10] gr2m commented on #16
Great, thanks for the update @etopiei

[2016-09-28 21:13] gr2m commented on #19
Sounds good :) would you like to give it a go? Happy to chat, too, if you have any questions?

[2016-09-28 22:01] gabrielperales commented on #7
Hi, I've seen that there are two ways of implementing this REPL, one is through a REPL server and the other is having the REPL in the same terminal where you hare getting your logs. Also, I saw that there is already an hapi plugin called reptile which creates that REPL on a server. I have started to write my code using that plugin, and I can connect to that REPL throw a telnet session. Should I ke

[2016-09-29 01:48] gr2m commented on #7
Hey @gabrielperales that sounds great! We are a bit swamped right now with people coming to Hoodie (which is great \o/) so I don’t know when I get to look into it. I’d say what ever you think makes sense to you is great :) I love that you took on the challenge, this is really cool!

Please let us know if you have any questions :)

[2016-09-29 05:36] mbad0la commented on #22
@gr2m I would love to work on this. Although, I am a bit confused at the moment.
Where can I find all the specifics and functionalities related to `/hoodie/account`?

[2016-09-29 10:01] christophwitzko commented on #34
@gr2m If you need any help with cloudflare, let me know.

[2016-09-29 18:09] gr2m commented on #19
@cheapwebmonkey from what you said, I think you want to work on the 3 issues #20 / #21 / #22, right? This issue is not about the `/hoodie` path, which all apps will have, but about what will be shown at the root path if the app has no `public/` folder. Does that make sense? I’m happy to assign you to #20, #21 and #22, and happy to chat with you on what these UIs might look like and how they could

[2016-09-29 18:25] gr2m commented on #22
Hey @mbad0la.

I’d suggest setup the [Hoodie Account](https://github.com/hoodiehq/hoodie-account#readme) repository first:

[code]

Then start the demo server with

[code]

This will serve all assets from this folder: https://github.com/hoodiehq/hoodie-account/blob/master/public/index.html

In terms of scope, check out Hoodie Client’s Account API:
https://github.com/hoodiehq/hoodie-account-client

[2016-09-29 18:40] mbad0la commented on #22
@gr2m thanks for this extensive help! I'll setup the project locally and hack around a bit. Will keep you posted on the progress.
By the way, any frontend framework you'd recommend here?
React came to my mind when I read re-usable components. What do you think?

[2016-09-29 19:34] gabrielperales commented on #7
Hi @gr2m I think I already have a basic implementation. I was struggling with an annoying error about loggin, but I already saw that this is another well known issue.

What I don't know exactly how I can do is initialize the session with the admin session. I've been seeing this https://github.com/hoodiehq/hoodie-account-client/blob/master/lib/sign-in.js ... but I'm sure there will be a easy way to

[2016-09-29 19:52] gr2m commented on #13
good luck @jcquinlan 👍

[2016-09-29 19:53] gr2m commented on #34
@christophwitzko if you could set this up, that’d be fantastic :)

[2016-09-29 19:56] gr2m commented on #22
I’d suggest do use good old HTML, JavaScript and CSS only. But it’s okay to rely on newer browser versions only for now.

I think it makes sense to keep things simple for now, create a base of discussion, and then see where we are heading? Another reason is that we try to keep the Hoodie code as contributor-friendly as possible, and HTML/CSS/JS is a great common denominator.

You can have a look a

[2016-09-29 20:01] gr2m commented on #7
I would suggest that for a first implementation, I’d create a REPL into which I can type methods of the [Hoodie Account Admin API](https://github.com/hoodiehq/hoodie-account-client/tree/master/admin)

I think you can also use that API for the initial sign in, see https://github.com/hoodiehq/hoodie-account-client/tree/master/admin#adminsignin

Does that help?

[2016-09-29 20:04] gabrielperales commented on #7
I think I already have done that @gr2m . I'm going to clean it up and I will share it again.

[2016-09-29 20:06] gr2m commented on #7
Great! I think best would be to start a work-in-progress pull request, it helps with the discussion

[2016-09-30 02:07] mbad0la commented on #22
Yes it does... I get your point. I guess things will be more clearer once we have some code to review.

[2016-09-30 07:21] ohiock commented on #31
Hi @gr2m - I saw this issue had been sitting for some time and decided to take a stab at it. I hope that's not an issue. I submitted a PR but I assume I cannot update this issue since I'm not the assignee? (sorry, I'm a noob) It's PR #185.

[2016-09-30 08:21] distalx commented on #8
Has this been completed yet? Otherwise,  I would like to give it a shot!

[2016-09-30 12:04] mbad0la commented on #22
Hey @gr2m what do you think about this load screen component?

![hoodieloader](https://cloud.githubusercontent.com/assets/8503331/18991034/a912534e-8733-11e6-9dff-b633d2b902de.gif)

Might help in improving UX, if we need some time to compute something.

[2016-09-30 18:28] gr2m commented on #8
Oh this is actually a duplicate for https://github.com/hoodiehq/camp/issues/20, and yes, it is up for grabs. @cheapwebmonkey expressed interest to work on the default UIs for `/hoodie`, `/hoodie/account` and `/hoodie/store`, so maybe we can collaborate? Feel free to start a pull request to create a base for discussion :)

[2016-09-30 18:29] gr2m commented on #20
duplicate of https://github.com/hoodiehq/camp/issues/8

[2016-09-30 18:29] #20 closed, assigned to nobody

[2016-09-30 19:13] gr2m commented on #31
no that’s totally fine, thanks! I’ll have alook at your pull request right away :)

[2016-09-30 23:23] norkuy commented on #17
@gr2m Here you go :)
Twitter Header:
https://www.dropbox.com/s/gl0nwrwfy8boo2n/twitterHeader.png?dl=0

[2016-09-30 23:54] gr2m commented on #17
Nice :) Thanks @norkuy! This looks great: https://twitter.com/hoodiehq

I’ve invited you to the Hoodie Contributors Team, welcome :)

Are you on twitter? We like giving shoutouts to our new contributors. Only if you like of course

[2016-09-30 23:57] #17 closed, assigned to norkuy

[2016-10-01 01:50] gr2m commented on #34
Thanks @christophwitzko for setting up everything! We should do the same for hood.ie if this works well :) Check out https://hoodie.camp y’all! 👀

[2016-10-01 01:50] #34 closed, assigned to nobody

[2016-10-01 05:21] Enigma10 commented on #24
hello ,  i have some doubts about this issue . can i use latest version of dependencies  or i have to find minimum latest version of dependencies required for it .

[2016-10-01 05:42] kouryuu commented on #19
Hi, I too have interest in this issue I proposed the following interface to the Slack group http://codepen.io/kouryuu/full/VKzkqL/ and to @gr2m  now this is intended for when the`/public` is missing and we need another for the root page of hoodie #8 which seems to be assigned to @distalx perhaps we can all work together and combat all issues related with missing UI :)

[2016-10-01 15:18] cheapwebmonkey commented on #19
Sounds good

Margeaux Spring
GitHub.com/cheapwebmonkey
Sent from my iPhone

[2016-10-01 17:16] gr2m commented on #24
@Enigma10 use the latest version of dependencies. Do you want to work on this issue?

[2016-10-01 17:18] gr2m commented on #19
I’d love that. And happy to help / coordinate our effortts :) /cc @distalx

[2016-10-01 18:31] gr2m commented on #4
... @oluoluoxenfree Hey Olu, we have the [Hacktoberfest](https://hacktoberfest.digitalocean.com/) going and lots of people are looking for issues to work on. I feel really bad to say it but maybe we should let someone else work on it? I don’t want to take it away from you and if you sincerely want to work on this this weekend, I’m happy to help. But if not, I’d like to open it up so someone else c

[2016-10-01 18:32] gr2m commented on #11
How is it going @barretodaniel? Anything we can help with?

[2016-10-01 18:34] gr2m commented on #14
I’d love to finish this up some time :) Maybe we can find a day in the next two weeks to pair on this?

[2016-10-01 18:39] machikoyasuda commented on #14
Yes <3 Sun. Oct. 16th!

[2016-10-01 18:41] oluoluoxenfree commented on #4
Yup that's fine!

[2016-10-01 18:57] gr2m commented on #19
@cheapwebmonkey @distalx could you join our slack chat at http://hood.ie/chat/ if you haven’t yet? It would make the coordination a bit simpler. I’m `@gregor` in the chat, I’ll create a channel for us :)

[2016-10-01 19:03] barretodaniel commented on #11
Hey Gregor, I actually have a couple questions regarding testing but I'm
away from my computer. Until what time are you available today?
On Sat, Oct 1, 2016 at 2:32 PM Gregor Martynus <notifications@github.com>
wrote:

[2016-10-01 19:13] #31 closed, assigned to ohiock

[2016-10-01 19:30] gr2m commented on #4
All right, this issue is up for grabs again :)

[2016-10-01 19:36] gr2m commented on #11
I’m in LA timezone, working on Hoodie until 6pm-ish today, so another 5-6h. You can ping me on the [Hoodie Chat](http://hood.ie/chat/), too

[2016-10-01 19:36] gr2m commented on #14
great idea :)

[2016-10-01 20:36] gr2m commented on #22
this looks nice :)

We have a group of people that work together on #8, #19, #20, #21 and this issue, they are all related. Want to join the [Hoodie Chat](http://hood.ie/chat/) and ping me there `@gregor`? We created a channel where we discuss the different Hoodie UIs and the fallback UI if the app has no `public/` folder

[2016-10-01 20:42] mbad0la commented on #22
Sure @gr2m  :)

[2016-10-01 20:50] gr2m commented on #21
We are working on #8, #19, #20 and #22 altogether with @kouryuu, @distalx and @cheapwebmonkey

[2016-10-01 20:57] gr2m commented on #23
This issue is up for grabs again :)

[2016-10-01 21:05] gr2m commented on #25
🔔 ping @tinyinkling :) Make sure to sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) before sending a pull request :)

[2016-10-01 21:06] gr2m commented on #32
it’s live :) https://hood.ie

[2016-10-01 21:06] #32 closed, assigned to gr2m

[2016-10-01 21:30] gr2m commented on #30
@capellini you are looking into this one, right? Please let me know if you have any blockers :)

[2016-10-02 01:22] LowProfileDog opened #35 "🎃🕵💻 Update hoodie to latest good"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🎃🙀👕🎓😻 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

Node.js, [hapi](http://hapijs.com/) and [good](https://www.npmjs.com/pa

[2016-10-02 01:59] machikoyasuda commented on #23
I will take this issue. Nervous and excited to learn about ServiceWorkers 😊✨

[2016-10-02 02:07] gr2m commented on #23
all yours :) enjoy

[2016-10-02 02:09] norkuy commented on #17
sure @gr2m my name is @JeffMignone. Thank you for the invite!

[2016-10-02 06:15] joselitojunior1 commented on #35
🚀

[2016-10-02 06:56] dontrebootme commented on #35
I can try this one.

[2016-10-02 07:00] gr2m commented on #35
Awesome, I’ve invited you to the repository. Good luck, it’s all yours 🙌

[2016-10-02 07:21] Rishabh8871 commented on #35
Hactoberfest it is..  Can i try!!

[2016-10-02 09:04] davelosert commented on #4
Uhhh... tests. 100% coverage. Sounds EXACTLY like something that I`d like to do.
I'm gonna try to tackle this if it's okay!

[2016-10-02 12:40] jsoranno commented on #35
Next on the list :)

[2016-10-02 14:25] chirgjn commented on #24
@gr2m I would like to claim this. I am familiar with Linux, bash and Python but not docker, is that okay?

[2016-10-02 16:36] gr2m commented on #35
@Rishabh8871 @jsoranno we will create more issues like these troughout October, if you want to get notified you can watch this repository :)

[2016-10-02 16:38] gr2m commented on #4
absolutely :) I’ve invited you to this repository. Once you accept our invitation, you can assign yourself and start checking off the list above :) Let us know if you have any questions

[2016-10-02 17:52] #30 closed, assigned to capellini

[2016-10-02 17:55] gr2m commented on #24
sure :) If @Enigma10 wants to help you, you two can collaborate on it if you don’t mind?

I’ve invited you to this repository, so you can assign yourself and start checking off the list above

[2016-10-02 18:26] LowProfileDog opened #36 "📑🖋 Update LICENSE in hoodie-server repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:43] nidble commented on #36
I'would enjoy this issue, does it can be possible? Thanks :)

[2016-10-02 18:44] LowProfileDog commented on #36
Absolutely, let me invite you to this repository so you can assign yourself and check of the checkboxes above :) You can accept the invitation at https://github.com/hoodiehq/camp/invitations

[2016-10-02 18:55] LowProfileDog opened #37 "Update LICENSE in hoodie-account-server repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #38 "Update LICENSE in hoodie-store-server repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #39 "Update LICENSE in hoodie-client repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #40 "Update LICENSE in hoodie-account-client repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #41 "Update LICENSE in hoodie-store-client repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #42 "Update LICENSE in pouchdb-hoodie-api repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #43 "Update LICENSE in pouchdb-hoodie-sync repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #44 "Update LICENSE in hoodie-connection-status repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #45 "Update LICENSE in hoodie-log repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #46 "Update LICENSE in hoodie-account repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #47 "Update LICENSE in hoodie-store repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #48 "Update LICENSE in hoodie-admin repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:55] LowProfileDog opened #49 "Update LICENSE in hoodie-admin-client repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-02 18:59] danielbayerlein commented on #39
Accept

[2016-10-02 18:59] nidble commented on #36
A question... :) Is it a good practice to self marking into "assignees" during issues solving phase? thanks!

[2016-10-02 19:03] gr2m commented on #36
@nidble yes it is :) By assigning yourself to the issue, everyone will know that you are working on this issue

[2016-10-02 19:05] LowProfileDog commented on #39
Hey Daniel, thanks for claiming the issue, but looks like you’ve sent many pull requests in the past? We would like to reserve this issue for someone who is entirely new to Open Source, see http://www.firsttimersonly.com

We will create more issue that will be for everyone 🐶

[2016-10-02 19:08] pjhampton commented on #49
Hey, I would love to take this! 😄

[2016-10-02 19:08] petgoldfish commented on #47
Hey, total newbie here! Can I claim this issue please?

[2016-10-02 19:08] dimejy2 commented on #48
Hey, I'd like to claim this!

[2016-10-02 19:09] bmeverett commented on #37
I'll take this

[2016-10-02 19:11] LowProfileDog commented on #47
Yes, good luck :) We’ve invited you to this repository so that you set yourself as Assignee and start checking off the checkboxes above. You can accept the invitation at https://github.com/hoodiehq/camp/invitations

[2016-10-02 19:15] nidble commented on #36
Awesome... ^_^  @gr2m please, can you review?

[2016-10-02 19:18] LowProfileDog commented on #37
Welcome Brandon 🐕 _wiggle waggle_

I’ve invited you to this repository so you can assign yourself to this issue and check of the checkboxes above. You can accept it at https://github.com/hoodiehq/camp/invitations

[2016-10-02 19:20] gr2m commented on #36
Hey @nidble, you have sent the PR to the wrong repository :) This issue is about this file here: https://github.com/hoodiehq/hoodie-server/blob/master/LICENSE

[2016-10-02 19:21] bradlc commented on #49
Please could I claim this one? :)

[2016-10-02 19:24] nidble commented on #36
Ups! Copy and paste without unit test! :-D thanks for patience!

[2016-10-02 19:25] kipply commented on #40
I'd like to claim this! c:

[2016-10-02 19:25] mzishtiaq commented on #46
Hi, can I claim this issue please?

[2016-10-02 19:30] bmeverett commented on #37
ready for review

[2016-10-02 19:33] gr2m commented on #36
no worries :)

[2016-10-02 19:39] fortrieb commented on #44
Hi, can i work on this issue?

[2016-10-02 19:43] Renestl commented on #43
Hi, can I work on this one?

[2016-10-02 19:46] sebarker commented on #45
Can I please do this @LowProfileDog?

[2016-10-02 19:55] LowProfileDog commented on #45
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 19:58] fortrieb commented on #44
Done.

[2016-10-02 20:03] LowProfileDog commented on #44
I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above.
Next time please wait before moving on :) [You’ve already sent PRs in the past](https://github.com/search?utf8=%E2%9C%93&q=author%3Afortrieb+is%3Apr), right? But it’s been a while so happy to

[2016-10-02 20:03] jennifertran commented on #41
Hello, is it possible for me to claim this issue?

[2016-10-02 20:05] #44 closed, assigned to fortrieb

[2016-10-02 20:07] gr2m commented on #44
Thanks :) Feel free to look around our repositories if you find other things you’d like to work on :) We will also add more camp issues for people that are not reserved for first-time contributors

[2016-10-02 20:08] petgoldfish commented on #47
Hey guys, I'm here for my review! I hope I did well :D

Edit: Oh and thank you for doing this by the way! I honestly learnt a lot just by doing this.

[2016-10-02 20:10] fortrieb commented on #44
Thanks

[2016-10-02 20:26] evgimov commented on #42
HI, i want to claim this issue.

[2016-10-02 20:30] derwin4o commented on #38
Hi,
can I work on this one ?
Thanks!

[2016-10-02 20:53] #47 closed, assigned to petgoldfish

[2016-10-02 20:54] gr2m commented on #47
You did perfect, thanks Raghav :) And super glad that you learned a trick or two! Feel free to look around if you find other issues to work on, you are always welcome to contribute again :)

[2016-10-02 20:55] #37 closed, assigned to bmeverett

[2016-10-02 20:57] gr2m commented on #37
Thanks Brandon :) Two pull requests at once, good job :D

Feel free to look around for other issue if you like, we will also add more issues to this repository that are not reserved for first-time contributors

[2016-10-02 21:05] LowProfileDog commented on #38
Hello there :wave: yes you can  :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:20] LowProfileDog commented on #42
🐶👋  Hellow Evghenii – The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:24] LowProfileDog commented on #41
Ohhhh please, [take it away](https://media.giphy.com/media/xT77XKxcPqxIZqUrwk/giphy.gif)  🎾🐕 :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy

[2016-10-02 21:27] chirgjn commented on #24
@gr2m I have no problem collaborating, if @Enigma10 is fine with it.
As for now I have accepted the invitation and am assigning the issue to myself and will start working on it tomorrow.

[2016-10-02 21:27] LowProfileDog commented on #43
Hello Jennifer, welcome at Hoodie :) The issue is all yours!

I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:39] LowProfileDog commented on #46
Hey Zeeshan, it looks like you have sent [many pull requests](https://github.com/search?utf8=%E2%9C%93&q=author%3Amzishtiaq+is%3Apr) before? If you don’t mind, we would like to reserve this for someone who is entirely new to GitHub, to give them a chance making their first steps in open source in a nice & safe environment :)

But we will create more issues in future that are not reserved for first

[2016-10-02 21:40] LowProfileDog commented on #40
Hello Carol, the issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:41] evgimov commented on #42
Thank you!

[2016-10-02 21:41] LowProfileDog commented on #49
Absolutely, welcome Brad! The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:44] LowProfileDog commented on #48
Welcome Dimeji, the issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-02 21:50] gr2m commented on #38
Thanks @derwin4o :) Welcome to Open source and to Hoodie! Feel free to look around for more issues :)

You can watch this repository to be notified, follow us [on Twitter](https://twitter.com/hoodiehq) or look around our other repositories, there are more things to work on that we could not yet turn into Camp issues

[2016-10-02 22:07] jennifertran commented on #41
I have sent out a pull request. Feedback is much appreciated! :)

[2016-10-02 22:15] Renestl commented on #43
Alright, cool! :D @LowProfileDog  Can you review, please?

[2016-10-02 22:19] mzishtiaq commented on #46
Oh, I apologise. I guess it was an misinterpretation on my part. I do have many pull requests but all of them were for practice projects that I worked on with my friends. So, I am still looking for first contribution to a real open source project. Sorry to have wasted your time and thank you for your kind response. :)

[2016-10-02 22:23] bradlc commented on #49
All set! Got a bit excited and forgot to assign myself before starting, sorry 😇

[2016-10-02 22:48] jrmyhrtmn commented on #39
I'd like to claim this one.

[2016-10-02 23:28] evgimov commented on #42
I have completed my task, can you review ,please?

[2016-10-02 23:33] alecmatthews commented on #46
I would like to claim this. This would be my first open source pull request.

[2016-10-03 00:05] #40 closed, assigned to kipply

[2016-10-03 00:08] gr2m commented on #40
Thanks Carol :) Feel free to look around for more things to contribute, if you like! You can watch this repository to be notified about new issues, or follow us [on twitter](https://twitter.com/hoodiehq)

[2016-10-03 00:12] gr2m commented on #42
Merged via https://github.com/hoodiehq/pouchdb-hoodie-api/pull/120 👍  Thanks @evgimov

Feel free to look around for more things to contribute, if you like! You can watch this repository to be notified about new issues, or follow us [on twitter](https://twitter.com/hoodiehq)

[2016-10-03 00:12] #42 closed, assigned to evgimov

[2016-10-03 00:15] LowProfileDog commented on #46
@mzishtiaq oh in that case I think it’s fine, we are honoured to be the first Open Source project that you contribute to :)  The issue is all yours! I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

@alec500oo I’m sorry that it didn’

[2016-10-03 00:16] LowProfileDog commented on #39
The issue is all yours, Jeremy :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-03 00:17] #49 closed, assigned to bradlc

[2016-10-03 00:19] gr2m commented on #49
No worries, I’m glad you enjoyed and learned a trick or two?

Feel free to look around, there are other issues to work on, also on other repositories. You can also follow us [on Twitter](https://twitter.com/hoodiehq) :)

[2016-10-03 00:22] gr2m commented on #38
oh @derwin4o there was a mistake, looks like you changed the LICENSE in the wrong repository :) No biggie, but can you send another PR for this file? https://github.com/hoodiehq/hoodie-store-server/blob/master/LICENSE

[2016-10-03 00:22] #43 closed, assigned to Renestl, derwin4o

[2016-10-03 00:24] LowProfileDog commented on #43
Looks like one of my humans did it already :) Thanks for your help!

We will create more issue soon, you can watch this repository to be notified, or follow us [on twitter](https://twitter.com/hoodiehq)

[2016-10-03 00:25] #41 closed, assigned to jennifertran

[2016-10-03 00:27] gr2m commented on #41
Thanks @jennifertran, that was A+ 👍

Looks like one of my humans did it already :) Thanks for your help!

We will create more issue soon, you can watch this repository to be notified, or follow us [on twitter](https://twitter.com/hoodiehq). You can also join [our chat](http://hood.ie/chat/) and say hi :) Let us know if you have any questions

[2016-10-03 01:18] nitishkd commented on #48
Hi, is this issue still up for grab? I would like to make my first contribution here.

[2016-10-03 01:49] greensleeves01 commented on #39
@LowProfileDog  Hi.   It looks like @jrmyhrtmn  hasn't claimed this.  I'd like to help out if possible.

[2016-10-03 02:40] nitishkd commented on #38
is this still up for grabs? If yes, i would like to contribute here.

[2016-10-03 06:50] #39 closed, assigned to jrmyhrtmn

[2016-10-03 06:50] varjmes commented on #39
Sorry @greensleeves01, the issue was solved. Check out the remaining camp issues!

[2016-10-03 07:23] nachiketdhamankar commented on #48
Hey! I am interested too! Is this issue still open?

[2016-10-03 09:44] mzishtiaq commented on #46
Thank you. :)

[2016-10-03 09:44] amanmehta-maniac commented on #48
I would also like to work for this. Can I get to be a part?

[2016-10-03 09:49] etopiei commented on #16
Taking a look at the wikipedia criteria for article creation over the weekend, I don't know if an article on hoodie would be given the green light. I can't find too many links to it to use as citations.

[2016-10-03 13:21] imGurpreetSK commented on #48
Is the issue available for grab?

[2016-10-03 15:11] sharynneazhar commented on #7
Hey there! First time contributing to open source ever and I would like to give this a shot :) I think it's awesome that you guys have this to get newbies into it!

[2016-10-03 15:39] #38 closed, assigned to derwin4o

[2016-10-03 18:30] WarEnek commented on #36
Hi. I want working.

[2016-10-03 18:35] Subway19 commented on #46
I would like to claim this. This would be my first open source pull request.

[2016-10-03 18:36] Subway19 commented on #48
Is this still open? I would like to claim this.

[2016-10-03 18:36] Subway19 commented on #35
I would like to claim this. This would be my first open source pull request.

[2016-10-03 18:42] dontrebootme commented on #35
@Rishabh8871 @jsoranno @Subway19 feel free to take this one. It seems the work involved is more complicated than I initially understood and probably best if someone else has better experience with Node, Hapi and Good.

[2016-10-03 18:46] gr2m commented on #46
@Subway19 please check if an issue has been claimed already, this one is already taken, unfortunately

[2016-10-03 18:55] varjmes commented on #48
Hello all, as you can see above, the issue has already been claimed by @dimejy2. If dimejy does not wish to work on it we will pass it on to the next in line. Thanks for your interest in Hoodie!

[2016-10-03 19:14] gr2m commented on #35
Thanks for trying @dontrebootme 👍

To everyone who wants to give this a try: this issue is not suitable for JavaScript beginners, ideally you have already built applications with hapi before, it’s quite complex.

[2016-10-03 19:16] mbad0la commented on #35
Hey @gr2m how much time would it take to get a hang of hapi?
I'm quite comfortable with JavaScript but haven't hacked around with hapi before.

[2016-10-03 19:20] varjmes commented on #35
All those interested: only one person can do the issue, please make sure to check if the issue has been claimed, before telling us you will do it. @dontrebootme said they were unable to do it, which means now the issue is up for grabs. Looks like @Rishabh8871 was second in line to claim this. If Rishabh does not want to do it, then @jsoranno can claim it. If @jsoranno doesn't want to do it, then @

[2016-10-03 19:20] gr2m commented on #35
@mbad0la I’d say you can probably built something with it within a few hours? I can really recommend to check it out anyway: http://hapijs.com/ – it’s fantastic, very mature framework. You can learn a lot from reading its source code, too.

How about you try building a small application with it that also uses the latest `good` for logging to get an understanding of how it works?

[2016-10-03 19:34] dimejy2 commented on #48
Hey, I've created the PR and would like a review :)

[2016-10-03 19:39] #48 closed, assigned to dimejy2

[2016-10-03 19:40] gr2m commented on #48
Thanks @dimejy2 👍 Congratulations to your first accepted Open Source pull request 👏

 Please feel free to look around for other issues to work on. You can watch this repository to get notified of new issues, follow us [on twitter](https://twitter.com/hoodiehq) and come say hi in [our chat](http://hood.ie/chat/)

[2016-10-03 19:48] dimejy2 commented on #48
this is really exciting!

[2016-10-03 20:08] sebarker commented on #45
@LowProfileDog please review 😄

[2016-10-03 20:20] #45 closed, assigned to sebarker

[2016-10-03 20:24] LowProfileDog commented on #45
On of my humans already reviewed your pull request and merged it in :) Congratulations to your very first Open Source pull request! We are happy to be the project that had the honour!

Please feel free to look around for other issues! You can watch this repository to be notified, but also have a look at the other repositories. You can also follow us [on twitter](https://twitter.com/hoodiehq) and c

[2016-10-03 20:41] gr2m commented on #16
I’d say even if it does not get accepted, maybe you can create a draft in a google doc or somewhere that we can use as a base of discussion and review, before submitting it to Wikipedia?

I think we have a few articles, like https://opensource.com/life/16/2/hoodie-open-source-community.

@janl @renrutnnej @skeskali @Charlotteis can you think of other articles we could cite in a wikipedia article?

[2016-10-03 20:44] gr2m commented on #7
@sharynneazhar Gabriel is already working on this particular issue, but I’m sure we will have more issues soon. I’d suggest you watch this repository to get notified. You can also follow us [on twitter](https://twitter.com/hoodiehq) or come say hi in [our chat](http://hood.ie/chat/). If you join our chat, please feel free to ping me (`@gregor`) or send me a direct message, I’d like to help you fin

[2016-10-03 20:56] mzishtiaq commented on #46
Forgot to assign myself, sorry :). Please review.

[2016-10-03 21:09] gr2m commented on #46
no worries, reviewing now :) You can also check of the check boxes above. No worries for this time, but for the future, this helps to let us know about your progress :)

[2016-10-03 21:10] #46 closed, assigned to mzishtiaq

[2016-10-03 21:12] gr2m commented on #46
Thanks Zeeshan 👍 Feel free to look around for more issues, also in the other repositories. You can also [follow us](https://twitter.com/hoodiehq) or our friends [YourFirstPR](https://twitter.com/yourfirstPR) on twitter.

Oh and it would be really nice if you could star our main repository, that helps even more people to hear about Hoodie :)
https://github.com/hoodiehq/hoodie ⭐️

[2016-10-03 21:15] #4 closed, assigned to davelosert

[2016-10-03 21:16] mzishtiaq commented on #46
Thank you, it has been a pleasure and a good learning experience. The guide is really useful and I'll keep your suggestions in mind for any future contributions. :)

[2016-10-03 21:25] ghost commented on #36
Can I Pick up this issue? :)

[2016-10-03 21:39] gr2m commented on #36
@WarEnek @AkshayGulhane the issue is already claimed, I’m sorry

[2016-10-04 00:06] RakshithNM commented on #36
I would like to make my first OS contribution on this, Please guide me.

[2016-10-04 00:13] gr2m commented on #36
@RakshithNM check out http://www.firsttimersonly.com/ and the references linked there. We don’t have any open issues for beginners right now, I’m afraid

[2016-10-04 14:23] minibhati93 commented on #45
Can I please work on this issue? @LowProfileDog

[2016-10-04 17:50] varjmes commented on #45
@minibhati93 this issue has been closed as it has already been solved.

[2016-10-04 18:47] jyotman94 commented on #35
@gr2m hey it seems nobody is working on this issue currently. May I take this issue? I can start right now.

[2016-10-04 19:30] eduardoportilho commented on #35
I'm also ready to take it! @gr2m

[2016-10-04 21:14] gr2m commented on #35
Thanks @eduardoportilho, @mbad0la is also looking into it right now.

@mbad0la can you start a pull request, even if it’s just work in progress? That way we can start collaborating on it?

@eduardoportilho do you have experience with hapi / good?

[2016-10-04 22:06] dweremeichik commented on #13
@gr2m @jcquinlan  `Start a Pull Request. Mention closes hoodiehq/camp#11 in the description.` Should say 13, not 11. :+1:

[2016-10-04 23:10] gr2m commented on #13
@dweremeichik fixed, thanks a lot :)

[2016-10-04 23:12] gr2m commented on #13
@jcquinlan I’ve invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, you can assign yourself and start checking off the check boxes above

[2016-10-04 23:42] #19 closed, assigned to nobody

[2016-10-05 00:42] ghost commented on #36
Hello,
Can I contribute ? :)

[2016-10-05 01:18] LowProfileDog opened #51 "using hoodie as hapi plugin: replace options.db with options.PouchDB"
### 🤔 What you will need to know

You should be experienced with JavaScript, Node.js and testing. Some knowledge about [hapi.js](http://hapijs.com/) will help, but won’t be required.
### ❓ The Motivation

Hoodie is [very modular](https://github.com/hoodiehq/hoodie/tree/master/server#architecture). You can use the main [hoodie](https://github.com/hoodiehq/hoodie) module standalone or as [hapi plugi

[2016-10-05 02:10] LowProfileDog opened #52 "Hoodie Account Server: replace options.usersDb with options.PouchDB"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should be experienced with JavaScript, Node.js and testing. Some knowledge about [hapi.js](http://hapijs.com/) will help, but won’t be re

[2016-10-05 02:40] vgvenkat commented on #52
Hey! this is my first contribution. Can I have a try?

[2016-10-05 03:21] LowProfileDog opened #53 "💯 Code Coverage for Hoodie Account Server"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)
### 🤔 What you will need to know

JavaScript, No

[2016-10-05 03:24] LowProfileDog commented on #52
sure! We invited you to this repository, you can accept the invitation here: https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself and work off the check boxes. Let us know if you get stuck, or if you realise that it’s too hard after all, no problem :) good luck!

[2016-10-05 03:31] evgimov commented on #53
Can I do it?

On Oct 4, 2016 8:21 PM, "Low-Profile Dog" notifications@github.com wrote:

[2016-10-05 03:38] gr2m commented on #53
Hey Evghenii, this is quite a complex task, have you worked with automated testing and code coverage before? It’s not a good task to learn these things. Maybe try to go trough these steps and increase the code coverage and see if you feel comfortable doing it?

[2016-10-05 05:18] evgimov commented on #53
I didn't worked before with it. Maybe you have another task for me?

2016-10-04 20:38 GMT-07:00 Gregor Martynus <notifications@github.com>:

[2016-10-05 05:47] anu0012 commented on #51
Hey I want to ask one thing. Do we need to change the function accordingly or just replace options.db with options.PouchDB ?

[2016-10-05 05:59] evgimov commented on #53
I haven't worked with automated testing. Yes, I will try. Maybe do you have
another task for me?

2016-10-04 20:38 GMT-07:00 Gregor Martynus notifications@github.com:

[2016-10-05 06:17] gr2m commented on #53
Not right now, I’m sorry! But you can watch this repository to be notified of new issues. Great resources are http://www.firsttimersonly.com/ and http://yourfirstpr.github.io/, and look for issues with the [hacktoberfest label](https://github.com/search?utf8=%E2%9C%93&q=label%3Ahacktoberfest+is%3Aissue+is%3Aopen&type=Issues&ref=searchresults). Good luck!

[2016-10-05 06:46] eduardoportilho commented on #35
@gr2m Not particularly, but I've been working with JS for a while. Do you have any other issues to suggest?

[2016-10-05 16:58] danielbayerlein commented on #35
This issue is not to be underestimated. 😉

[2016-10-05 18:04] saksham-s commented on #36
Hello this is my first time on git.Is it possible for me to work on this issue?

[2016-10-05 18:57] gr2m commented on #35
fyi the pull request is here: https://github.com/hoodiehq/hoodie/pull/598

@mbad0la also note https://github.com/hoodiehq/hoodie/issues/599, not sure if this is relevant for your work at all

[2016-10-05 19:02] mbad0la commented on #35
@gr2m I'll probably refer to it once I've identified some of the old methods in the code.
Really pumped up to resolve this :p

[2016-10-05 19:18] gr2m commented on #51
we need to change the function accordingly

[2016-10-05 19:29] evgimov commented on #53
Thank you, have a good day!

2016-10-04 23:17 GMT-07:00 Gregor Martynus notifications@github.com:

[2016-10-05 20:06] guntbert commented on #53
Hi, there seems to be a typo: "reserved until May 2016"?

[2016-10-05 20:25] gr2m commented on #53
@guntbert thanks, removed it :)

[2016-10-05 21:02] samgzl commented on #36
Hello! I'd like to work on the issue if possible :)

[2016-10-05 23:07] gr2m commented on #36
@nidble are you still doing it (https://github.com/hoodiehq/camp/issues/36#issuecomment-250989660) or shall we have someone else do the PR?

[2016-10-07 06:22] twogoodarms commented on #36
would love the practice!

[2016-10-07 06:51] karanjthakkar commented on #53
@gr2m I'd like to pick this up if its still unclaimed :)

[2016-10-07 10:15] nachiketdhamankar commented on #53
I'd like to give it a try if its open. It would be nice to try it as a first timer :)

[2016-10-07 15:00] varjmes commented on #53
This appears to be unclaimed and @karanjthakkar came first. So, good luck Karan!

[2016-10-07 15:03] varjmes commented on #53
@karanjthakkar I gave you write access to this repo so you can assign yourself :)

[2016-10-07 15:05] karanjthakkar commented on #53
Thanks @Charlotteis! I'll send a PR in some time :)

[2016-10-07 15:51] karanjthakkar commented on #53
I just realised that I'll be on vacation until mid next week, so someone else can pick this issue :)

[2016-10-07 15:56] distalx commented on #53
I would like to give it a shot! :)

[2016-10-07 16:36] nachiketdhamankar commented on #53
yay! I get to try it now right? :)

[2016-10-07 17:45] gr2m opened #55 "🤐🔒 (ssh!) Write Blog Post announcing something very exciting"
![shh](https://media.giphy.com/media/yow6i0Zmp7G24/giphy.gif)
### 🤔 What you will need to know

You do _not_ need to know any coding, git or GitHub. Google Docs is perfectly fine for editing, we can take it from there :)
You should have experience with writing and agree that stickers are just the best thing ever. Review [our blog](http://hood.ie/blog/) to get an idea of what we are looking for, an

[2016-10-07 18:46] mathesond2 commented on #55
I'll take it!! May I get assigned as a contributor?

[2016-10-07 23:08] LowProfileDog commented on #55
Welcome David, I’ve invited you to the Camp repository! You can accept yourself our invitation at https://github.com/hoodiehq/camp/invitations. Once accepted you can assign yourself and start a draft.

If you don’t mind, we would like to invite others to help collaborating / editing the blog post.

Do you have a blog or can link to articles that you wrote before?

[2016-10-08 03:42] vgvenkat commented on #52
I am opening up again for some one to grab this one. I need to work on a few more things before I can continue this issue. Open for any one!

[2016-10-08 13:16] mathesond2 commented on #55
@LowProfileDog sure thing! Here's a [link](https://github.com/mathesond2/portfolio/blob/063c268426e5236afc7d581ec9185844a1ccb720/_posts/2015-03-06-hometrackr-ui.markdown) to a few posts I have; I'm currently revamping my portfolio site, so had to dig through my git history..also, theres several more articles in the `_posts` folder. And of course, collaborators sound fine my way. 😀

[2016-10-08 16:09] gr2m commented on #55
Great thanks, welcome to Hoodie :) Can you assign yourself and start working off the list above? It would be great if you could create a google doc with a link at which people can add comments. If people want to collaborate you can invite them per email.

[2016-10-08 17:11] mbad0la commented on #35
@gr2m please review my PR.

[2016-10-08 19:45] igotpassion commented on #55
Happy to help out! You can find my stuff here (robertgibb.me, meaningfulcafe.com, maxcdn.com/blog)

[2016-10-08 20:55] gr2m commented on #55
Robert created a Google Doc here to collaborate: https://docs.google.com/document/d/1p0Xwib60sgI-FCE47_9Uc_YMc0eSfSDiyWhEInktLUw/edit

[2016-10-09 04:20] koddsson commented on #52
Can I grab this?

[2016-10-09 14:08] igotpassion commented on #55
@mathesond2 Want to start a draft? I would say we should create an outline first but @gr2m already took care of that. The only thing that isn't in the outline is a story arc, but I know Gregor mentioned the idea of covering how stickers first made their appearance in the open source community. There's probably some cool history there that we can cover.

Let me know if you have any questions. Becau

[2016-10-09 19:17] mathesond2 commented on #55
Hey @igotpassion sure thing! I'm currently finishing a lecture for work tomorrow so I'll probably be able to start in 3 hours or so; my apologies for the delay. 😇

[2016-10-09 23:58] igotpassion commented on #55
@mathewond2 Make sure to tag @gr2m and @jdorfman before you start because I think they are working on it too. I'm running on fumes but I'll be able to edit it tomorrow AM before I start the weekday grind.

[2016-10-09 23:58] igotpassion commented on #55
@mathesond2 I meant 😊

[2016-10-10 00:06] gr2m commented on #55
@jdorfman and I are not working on it, but I’m here to answer any questions you might have. I left a few comments on the post

[2016-10-10 00:09] igotpassion commented on #55
Thanks for clarifying.

[2016-10-10 00:16] mathesond2 commented on #55
I'm on it!

[2016-10-10 02:31] mathesond2 commented on #55
would love some feedback when y'all have a moment..I think it may be a bit too terse?

[2016-10-10 04:10] Taekyoon commented on #52
Can I try this one?

[2016-10-10 04:12] gr2m commented on #52
Maybe give it a try and let us know how it goes?

[2016-10-10 04:13] Taekyoon commented on #52
Sure~! I'll do that!

[2016-10-10 05:52] Taekyoon commented on #52
Actually, I have no idea what to do....
But I tried this.
`options.PouchDB = require('pouchdb-admins')
  options.userDb.constructor.plugin(options.PouchDB)`
instead
`options.userDb.constructor.plugin(require('pouchdb-admins'))`
Can you give me some hints to do this things?

[2016-10-10 13:52] igotpassion commented on #55
Hey @mathesond2. Thanks for helping out. I've made some revisions and additions here: https://docs.google.com/document/d/1jQWtiBtIMkTUf21Dmoifq13k1CdZ524jYedVHPfsWIg/edit?usp=sharing After you and @gr2m respond with your comments I'll go ahead and clean it up for publishing. @gr2m There will be some parts where you need to add emojis/icons when preparing to publish 👍

[2016-10-10 14:45] syoustra commented on #45
Quick typo heads-up ..... under the "What You Need to Know": We are happy to walk you THROUGH the process.  {you have TROUGH}
SUPER-excited and grateful, though, for this new-kid welcome you all are offering. Looking forward to being able to snag one of your introductory requests!

[2016-10-10 15:59] mathesond2 commented on #55
@igotpassion looks good!

[2016-10-10 16:39] gr2m commented on #45
Thanks @syoustra 👍

[2016-10-10 16:48] #35 closed, assigned to mbad0la

[2016-10-10 17:03] gr2m commented on #52
I’m very sorry, I wish I could coach you trough this issue but I don’t have the time right now :( This issue really requires quite a bit of JavaScript / Node.js knowledge, it’s not well suited for beginners. But keep your eyes open, we plan to create more beginner-friendly issues over the next weeks

[2016-10-10 17:45] jennwrites commented on #55
Just finished reviewing and this is a good start @mathesond2. ☺️

Before moving forward I would review past blog posts on Hoodie’s [blog](http://hood.ie/blog/) to get a feel for the style of the posts there. Also check out the [philosophy](http://hood.ie/about/) and [code of conduct](http://hood.ie/code-of-conduct/) pages for an understanding on how we communicate.

There seems to be an emphasis o

[2016-10-10 17:57] mathesond2 commented on #55
@renrutnnej sounds good to me...have you had a chance to review @igotpassion's draft as well?

https://docs.google.com/document/d/1jQWtiBtIMkTUf21Dmoifq13k1CdZ524jYedVHPfsWIg/edit?usp=sharing

[2016-10-10 18:01] jennwrites commented on #55
@mathesond2 The linked Google doc is the only one I reviewed. Is there another one?

[2016-10-10 18:11] gr2m commented on #55
it’s the same, Jenn already left a ton of comments in that google doc :)

[2016-10-10 23:14] gr2m commented on #53
@nachiketdhamankar do you know Node.js, testing, code coverage? It’s not a good issue for beginners, I just want to be sure you know what you commit to :)

[2016-10-10 23:14] Taekyoon commented on #52
So, now I'm trying to understand Node.js. actually, I have some knowledge about JS, but not Node.js. If I read documents of Node.js, where should I concentrate to contribute this issue?
I had a practice on tutorial of Django, so I would work if it is related. Just give me some keywords to figure it.

[2016-10-10 23:17] gr2m commented on #52
For this issue, you need to have good experience with Node.js, testing and code refactoring. You will also need to make yourself familiar with http://hapijs.com/ and https://pouchdb.com/. I’d start here: http://exercism.io/languages/javascript

[2016-10-10 23:20] Taekyoon commented on #52
Okay I'll try it first and after if this issue is not suited for me, I'll lend it to the other contributors.

[2016-10-11 00:21] guiferpa commented on #53
Can I do it? 🛩

[2016-10-11 01:03] gr2m commented on #53
do you two want to work on it together? @gpaixao you seem more experienced, would you be okay with taking some extra time and explaining how you will approach it first and why, and then do the implementation? I’ll be here of course to help answer questions as well.

@nachiketdhamankar would that work for you?

[2016-10-11 03:38] nachiketdhamankar commented on #53
@gr2m That would be really nice :D

[2016-10-11 13:23] guiferpa commented on #53
@gr2m ok, good idea.

I've a question... The coverage in all modules of hoodiehq ? I'm reading here and don't know right where will do the coverage.

One more question :smiley: ... How will do the dynamics between me and @nachiketdhamankar

**Ps: I want catch this issue**

[2016-10-11 16:21] gr2m commented on #53
@gpaixao the coverage is just for this repository: https://github.com/hoodiehq/hoodie-account-server. You can set it up and then run

[code]

This will create / update the `coverage` folder in the repository (it is ignored by git). Now open open coverage/lcov-report/index.html in your browser to see which lines are not yet covered by tests, then write tests until they are all covered

[2016-10-11 21:37] guiferpa commented on #53
@gr2m tks. How do i get this issue for me? I've that set something?

[2016-10-11 22:00] gr2m commented on #53
@gpaixao I’ve invited you to this repo, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, you can assign yourself and start checking off the checkboxes above

[2016-10-12 00:48] guiferpa commented on #53
@gr2m I'm studying the project, I like the issue 😆

[2016-10-12 02:44] nachiketdhamankar commented on #53
@gr2m Can you add me too? I can just follow @gpaixao and try to understand if thats ok? :)

[2016-10-12 04:58] guiferpa commented on #53
Don't need @nachiketdhamankar, I go create tests. Only write about that to doing!

[2016-10-12 06:32] gr2m commented on #53
@nachiketdhamankar I’ve invited you to the repository, you can co-assign yourself once you accepted the invitation at https://github.com/hoodiehq/camp/invitations.

Good luck you two :)

[2016-10-12 17:12] nachiketdhamankar commented on #53
@gpaixao I'm sorry I didn't get you ☺️

[2016-10-12 20:15] gabrielperales commented on #7
@gr2m lately I'm very busy. And also I have to do almost everything again, so maybe somebody can keep working on it, otherwise I will do it in the next weeks.

[2016-10-12 21:31] aarboleda1 commented on #7
I'd like to take a stab at this if possible @gr2m !

[2016-10-12 21:35] gabrielperales commented on #7
@aarboleda1 you can check my pull request. At least you could take the part from the CLI (creating the new command... ), tests, and maybe some something more.

[2016-10-12 23:04] aarboleda1 commented on #7
sounds good @gabrielperales. will take a look thanks

[2016-10-13 02:58] gr2m opened #56 "📑🖋 Create LICENSE in couchdb-calculate-session-id repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-13 02:59] aarboleda1 commented on #56
@justinjyoo and I are working on this!!

[2016-10-13 03:14] gr2m opened #57 "Update LICENSE in hoodie-app-tracker repository"
This is a [starter issue](http://hood.ie/blog/starter-issues.html).
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Trea

[2016-10-13 03:26] HimadriP commented on #57
I would like to take up this issue.

[2016-10-13 03:27] HimadriP commented on #57
Could you add the hacktoberfest label?

[2016-10-13 03:32] gr2m commented on #57
@HimadriP I created it for an event I’m attending right now. If nobody takes it I can do it tomorrow

[2016-10-13 03:34] aarboleda1 commented on #57
At the event! @justinjyoo and I will be trying to take it on.

[2016-10-13 03:37] HimadriP commented on #57
Okay. Thanks for the info. Let me know if there comes up a beginner issue I
could take up.

On 13-Oct-2016 09:02, "Gregor Martynus" notifications@github.com wrote:

[2016-10-13 03:38] LowProfileDog commented on #57
@aarboleda1 welcome to Hoodie :) We’ve invited you to the repository, you can accept the invitation at https://github.com/hoodiehq when signed in to your account. Once accepted, you can assign yourself and start working off the checkboxes above :) Enjoy!

[2016-10-13 14:38] nachiketdhamankar commented on #53
@gpaixao Is there any way I can contact you? :)

[2016-10-13 15:04] guiferpa commented on #53
@nachiketdhamankar  yes, my e-mail: guilhermee.paixaoo@gmail.com .

[2016-10-13 17:46] gr2m commented on #56
closed in https://github.com/hoodiehq/couchdb-calculate-session-id/issues/15

[2016-10-13 17:46] #56 closed, assigned to aarboleda1

[2016-10-13 17:53] gr2m commented on #7
good luck @aarboleda1 👍

[2016-10-13 21:16] skeskali commented on #55
This looks good to me!

[2016-10-14 13:50] jennwrites commented on #55
I thought of something else that needs mentioning once we decide to move forward with the sticker shop. We can't forget to give credit to the artist who created the sticker artwork, illustrator [Carolina Buzio](https://twitter.com/CarolinaBuzio). ✨ Thanks!

[2016-10-14 16:43] mathesond2 commented on #55
will do! :)

On Fri, Oct 14, 2016 at 9:50 AM, Jenn Turner notifications@github.com
wrote:

[2016-10-14 19:30] chirag08 commented on #57
I want to take this @gr2m kindly send me the invite

[2016-10-14 20:20] gr2m commented on #57
this is already done via https://github.com/hoodiehq/hoodie-app-tracker/commit/4bf0c3e0a4fa842e0ac6f58918d3c5516a69daad, sorry :)

[2016-10-14 20:20] #57 closed, assigned to aarboleda1

[2016-10-15 03:41] gr2m commented on #52
I assigned it to me because we are doing some changes that will affect this issue, I’ll free it up if it’s still applicable after the change

[2016-10-15 05:40] Taekyoon commented on #52
I think that's fine because I cannot handle with this right now.

[2016-10-15 05:56] gr2m commented on #52
@Taekyoon I did it here if you want to check it out: https://github.com/hoodiehq/hoodie-account-server-api/pull/2

[2016-10-15 05:57] #52 closed, assigned to gr2m

[2016-10-15 06:06] Taekyoon commented on #52
Thanks! That would be helpful to study!

[2016-10-15 19:56] LowProfileDog opened #58 "[Hoodie Account Server API] api.sessions.remove -> rejects if options is not passed"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. If you haven’t yet, we recommend the [JavaScript Track on exercism.io](http://ex

[2016-10-15 20:23] gr2m commented on #58
Hey @distalx this issue is reserved for [the event tomorrow](https://www.meetup.com/la-fullstack/events/234637657/), I’m sorry. That’s why the banner is there on top of the issue :)

[2016-10-15 20:27] distalx commented on #58
My apologies.

[2016-10-15 20:28] LowProfileDog opened #59 "[hoodie-account-server] replace "pouchdb" with "pouchdb-core", "pouchdb-mapreduce" and "pouchdb-adapter-memory""
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. If you haven’t yet, we recommend the [JavaScript Track on exercism.io](http://ex

[2016-10-15 20:53] LowProfileDog opened #60 "[Hoodie Account Server API] friendly error message for accounts.add({username: ''})"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you

[2016-10-15 21:57] LowProfileDog opened #61 "[hoodie-account-server] save createdAt & signedUpAt timestamps"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you

[2016-10-15 22:41] LowProfileDog opened #62 "[hoodie-account-server] GET /accounts Add test for 401 "Session invalid""
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you

[2016-10-15 22:57] LowProfileDog opened #63 "[hoodie-account-server] Add test for GET /accounts?include=foobar"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:14] LowProfileDog opened #64 "[hoodie-account-server] Add test for GET /accounts/{id} with invalid session"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:18] LowProfileDog opened #65 "[hoodie-account-server] Add test for GET /accounts/{id} if user is not an admin"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:21] LowProfileDog opened #66 "[hoodie-account-server] Add test for GET /accounts/123?include=foobar"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:40] LowProfileDog opened #67 "[hoodie-account-server] Add test for PATCH /accounts/{id} with invalid session"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:44] LowProfileDog opened #68 "[hoodie-account-server] Add test for PATCH /accounts/{id} if user is not an admin"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-15 23:49] LowProfileDog opened #69 "[hoodie-account-server] Add test for PATCH /accounts/{id} if account not found"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:02] LowProfileDog opened #70 "[hoodie-account-server] PATCH /accounts/{id} should respond with 204 unless ?include=profile query set"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:08] LowProfileDog opened #71 "[hoodie-account-server] Add test for PATCH /accounts/123?include=foobar"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:12] LowProfileDog opened #72 "[hoodie-account-server] Add test for PATCH /accounts/123?include=profile"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:19] LowProfileDog opened #73 "[hoodie-account-server] Add test for PATCH /accounts/123 with invalid type / id attributes"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:27] LowProfileDog opened #74 "[hoodie-account-server] Add test for DELETE /accounts/{id} with invalid session"
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then resolve the issue. If you haven’t done that before, better look for another issue :)

Some knowledge about [Hapi](http://hapijs.com/) or [JSON API](http://jsonapi.org/) will help but you can figure it out if you know the thin

[2016-10-16 00:29] LowProfileDog opened #75 "[hoodie-account-server] Add test for DELETE /accounts/{id} with user session"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:33] LowProfileDog opened #76 "[hoodie-account-server] Add test for DELETE /accounts/{id} if account not found"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:41] LowProfileDog opened #77 "[hoodie-account-server] Add test for DELETE /accounts/123?include=profile"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 00:49] LowProfileDog opened #78 "[hoodie-account-server] Add test for DELETE /accounts/123?include=foobar"
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt. Plus I’m sure we can teach you a cool trick or two in the process
### 🤔 What you will need to know

You should have worked with JavaScript, Node.js and Testing. This is a rather advanced issue, you will need to write tests yourself and then

[2016-10-16 13:32] sigorilla commented on #63
Hi! Can I work on this issue?

[2016-10-16 17:04] sigorilla commented on #63
Oh, sorry. I was inattentive and did not notice a mark about participation. Although if you're still interested, here is [my code](https://github.com/hoodiehq/hoodie-account-server/compare/master...sigorilla:get-accounts-test?expand=1) for this issue. And I'm ready to fix other issues with tests :smile:

[2016-10-16 17:12] sunidhichaudhary commented on #36
hi ! i would like to work on this issue as i am also a first timer

[2016-10-16 18:17] gr2m commented on #36
@sunidhichaudhary I’ve invited you to the repository, you can accept the invite here: https://github.com/hoodiehq/camp/invitations Once accepted you can assign yourself and start working on the issue :)

Sorry for the others, I’ve thrown a cube and Sunidhi won :)

[2016-10-16 18:20] gr2m opened #79 "📑🖋 Create LICENSE in pouchdb-admins repository"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new

[2016-10-16 18:21] gr2m opened #80 "📑🖋 Create LICENSE in pouchdb-users repository"
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktobe

[2016-10-16 18:25] gr2m opened #81 "📑🖋 Create LICENSE in hoodie-camp-tutorial repository"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new

[2016-10-16 18:33] gr2m commented on #63
Code looks good, thanks @sigorilla! I’d like to wait if someone from the event would like to take it on, and they could even use your code if they can’t figure it out by themselves as a help. They are many beginners here today so this is a great help :) We will create more issues in future, and issues that are not done today will be free to take for everyone tomorrow

[2016-10-16 18:55] sunidhichaudhary commented on #36
Thank you so much for the opportunity. As i am a first timer,it means a lot
to me :) i just want to know whether you received my pull request or there
is a procedure between sending a pull request and  receiving it? thanks:)

On Sun, Oct 16, 2016 at 11:47 PM, Gregor Martynus <notifications@github.com>
wrote:

[2016-10-16 18:55] gr2m opened #82 "📑🖋 Create LICENSE in account-json-api repository"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new

[2016-10-16 19:01] LowProfileDog opened #83 "📑🖋 Update LICENSE in hoodie-zuul-config repository"
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers Only](http://www.firsttimersonly.com/)
### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktobe

[2016-10-16 19:01] sunidhichaudhary commented on #36
thanks :)

[2016-10-16 19:04] LowProfileDog opened #84 "📑🖋 Update LICENSE in hoodie-client-task repository"
[![This issue is reserved for Fullstack ⚡️ Open Source | Hacktober Edition](https://dl.dropboxusercontent.com/u/732913/fullstack-hacktoberfest-banner.png)](https://www.meetup.com/la-fullstack/events/234637657/)
### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new

[2016-10-16 19:06] jtru71 commented on #81
I would like to work on this issue.

[2016-10-16 19:06] interdigitize commented on #84
I would like to claim this issue. @machikoyasuda @dinhjeffrey

[2016-10-16 19:07] blake-mealey commented on #83
Hi, thanks for doing this first-timers thing! I'd like to tackle this one. Just to clarify, from looking at that readme, it already has a link to the license, however it goes to an offsite page rather than a direct link to the license file. Is that what you wanted changed?

[2016-10-16 19:10] sunidhichaudhary commented on #82
hey,can you add hactoberfest label too?if possible

[2016-10-16 19:19] machikoyasuda commented on #84
Pull request made https://github.com/hoodiehq/hoodie-client-task/pull/32 paired with @dinhjeffrey and @interdigitize

[2016-10-16 19:24] LowProfileDog commented on #81
:wave: @jtru71 we invited you to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, please assign yourself and start checking off the checkboxes above `*wiggle waggle*`

[2016-10-16 19:34] gr2m commented on #82
Hey @sunidhichaudhary the issue you are working on is https://github.com/hoodiehq/camp/issues/36 :) This issue is about another repository

[2016-10-16 19:34] leighphan commented on #83
:wave: Hi Blake, sorry for the confusion - this issue is actually reserved for a Hacktoberfest event today (please see banner at top). If this issue is still open tomorrow, feel free to take a look!

Any open issues will be freed up tonight and we'll also create new issues in the near future!

[2016-10-16 19:40] simonyangme commented on #60
Claiming

[2016-10-16 19:40] leighphan commented on #84
Great! @dinhjeffrey and @interdigitize, we've invited you to this repository, which you can accept here:
https://github.com/hoodiehq/camp/invitations

Once you've accepted, please assign yourself to the issue.

[2016-10-16 19:45] LowProfileDog commented on #60
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-16 20:24] nhatbui commented on #61
@xuhdev and I are tackling this! 🙌

[2016-10-16 20:37] kangashley commented on #79
I'd like to claim this issue!

_Hacktoberfest 2016: [CodeLab OC](https://github.com/codelaboc) x [Fullstack LA](https://github.com/fullstackla/)_ 🍊 🎃

[2016-10-16 20:40] leighphan commented on #79
Sweet! We've invited you to the repository, which you can accept here: https://github.com/hoodiehq/camp/invitations

Once you accept, please assign yourself to the issue and continue to check off the boxes for each step.

[2016-10-16 20:43] simonyangme commented on #60
@LowProfileDog please review :smile_cat:

[2016-10-16 20:50] jtru71 commented on #83
I would like to claim this issue.

[2016-10-16 20:50] #60 closed, assigned to nobody

[2016-10-16 21:02] #81 closed, assigned to jtru71

[2016-10-16 21:14] simonyangme commented on #62
@LowProfileDog requesting review :smile_cat:

[2016-10-16 21:16] AvonGenesis commented on #76
I'd like to claim this issue!

[2016-10-16 21:43] hextor commented on #61
I would like to attempt this.

[2016-10-16 22:15] xuhdev commented on #76
@AvonGenesis It's now finished ... hoodiehq/hoodie-account-server#195

[2016-10-16 23:25] n0rev commented on #80
I would like to claim this issue 😄

[2016-10-16 23:32] #84 closed, assigned to nobody

[2016-10-16 23:45] Taekyoon commented on #82
Hi, greg. I wanna take this issue. Can I do this?

[2016-10-16 23:53] LowProfileDog commented on #82
Absolutely! Bummer you couldn’t make it to Fullerton, but looking forward to see you at another Full stack event soon  :) We’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-17 00:21] leighphan commented on #80
Hey Erick! This specific issue is reserved for those who have not submitted a pull request before (see first-timers-only label) at our Hacktoberfest event today.

Please check out other issues not specified for first-timers-only. We'll also create more issues in the near future!

[2016-10-17 00:36] gr2m commented on #61
@Ghalander Simon is already working on it, sorry! But check out the other issues. Most of the available ones are reserved for today’s event here at Fullstack LA, but we will free them up tonight

[2016-10-17 00:41] #79 closed, assigned to nobody

[2016-10-17 00:46] #62 closed, assigned to simonyangme

[2016-10-17 01:45] nachiketdhamankar commented on #80
Hey! Can I try this?

[2016-10-17 05:32] Taekyoon commented on #82
I'll be at DTLA this Wednesday!! Hopefully see you again!

[2016-10-17 16:58] #61 closed, assigned to simonyangme

[2016-10-18 08:15] stain88 commented on #82
Hey, is this issue still up for grabs?

[2016-10-18 08:15] stain88 commented on #80
Hey, is this issue still up for grabs?

[2016-10-18 14:10] mrkiura commented on #82
I'm interested. Can i work on this?

[2016-10-18 16:44] Taekyoon commented on #82
Sorry guys. I'm still grabbing this!

[2016-10-18 16:59] Taekyoon commented on #82
Greg, I have a question. What's the extension of Lisence file? Is it just '.md' type?

[2016-10-18 19:33] gr2m commented on #82
@Taekyoon no extension at all, it’s just `LICENSE` :) You can see it in [hoodie’s repository](https://github.com/hoodiehq/hoodie/) for comparison

[2016-10-18 19:38] gr2m commented on #58
no worries :) it's free now, if you’d like to give it a go?

[2016-10-18 19:41] gr2m commented on #63
Hey Igor, the issue is available for everyone now, do you want to start a PR? I’ve invited you to the repository: https://github.com/hoodiehq/camp/invitations Once accepted you can assign yourself and start checking off the the steps above :)

[2016-10-18 19:53] gr2m commented on #78
@dinhjeffrey do you want to finish this issue? I’ve invited you to this repository: https://github.com/hoodiehq/camp/invitations once accepted, you can assign yourself :)

[2016-10-18 19:56] gr2m commented on #83
@jtru71 are you working on this one? If yes, can you assign yourself and check of the steps above that you’ve already done? :)

[2016-10-18 20:25] sigorilla commented on #63
Yep! Good! I'm ready for PR

[2016-10-18 20:31] #63 closed, assigned to sigorilla

[2016-10-18 22:38] g-akash commented on #80
Hi, I want to work on this.

[2016-10-19 01:32] Taekyoon commented on #80
Greg, can I try this again? I need to one more practice.

[2016-10-19 01:36] gr2m commented on #80
sorry @Taekyoon, first-timers only :) I think you are doing great, try contribute something else

[2016-10-19 06:00] xuhdev commented on #76
Shall we close this issue?

[2016-10-19 08:30] paulohp commented on #72
Hi, I want to grab this one 👍

[2016-10-19 09:09] Taekyoon commented on #58
Greg, can I deal with this?
If I can, I will do that!

[2016-10-19 10:07] iulyaav commented on #80
I would also like to try. :smile_cat:

[2016-10-19 14:24] 7ictor commented on #80
I would like to claim this issue. 🖐

[2016-10-19 15:08] dengjonathan commented on #7
Hey @gr2m @gabrielperales Is this issue still up for grabs?  I'd like to fork @gabrielperales's repo and keep plugging away at it.

My understanding of the issue is that we're not trying to create a new local server that we have to ping, but instead a custom node REPL instance that you can run from the command line, that's specific to hood.ie.  Kinda like this: https://derickbailey.com/2014/07/02/

[2016-10-19 15:09] eopuntia commented on #80
Could I please claim this issue?

[2016-10-19 15:46] ryzokuken commented on #83
They claimed this 3 days ago, but didn't assign themselves. If everyone's okay with this, I'd like to claim this issue as my very first.

[2016-10-19 19:42] gr2m commented on #7
@dengjonathan hey there 👋 yes that would be great, and the article you liked is exactly what we are looking for. `rails console` is the inspiration for this feature :)

[2016-10-19 19:44] gr2m commented on #7
I’ve invited you to this repository. Once you [accept the invitation](https://github.com/hoodiehq/camp/invitations) you can assign yourself and start checking of the checkboxes above :) Good luck 🙌

[2016-10-19 19:44] MarckK commented on #83
I'd like to claim this!

[2016-10-19 19:47] g-akash commented on #83
I would like to claim this.

[2016-10-19 19:48] MarckK commented on #80
I'd like to claim this issue!

[2016-10-19 19:57] dengjonathan commented on #7
Yay! I'll do my best out there. 😎

[2016-10-19 19:58] MarckK commented on #83
Hi,
I'm sorry to have to ask, but I can't see how to assign myself to this
issue, nor how to change the label to in progress!

Kind regards,
Kara

On 19 October 2016 at 20:47, Akash Garg notifications@github.com wrote:

[2016-10-19 20:02] gr2m commented on #76
@xuhdev it’s not done, the test is skipped: https://github.com/hoodiehq/hoodie-account-server/pull/195/files#diff-4ffb19430d42c05519782d31efdec7d2R98.

What still needs to be done is
- [ ] remove the `{todo: true},` part
- [ ] make the test pass :)

@xuhdev @AvonGenesis you two can collaborate on it :) Start a PR, discuss, ping me if you need help

[2016-10-19 20:04] gr2m commented on #83
@MarckK we will choose a person by random tomorrow to work on it :) Did you contribute to an open source project before?

[2016-10-19 20:08] LowProfileDog commented on #72
Cześć Paulo, the issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-19 20:22] xuhdev commented on #76
It was done in https://github.com/hoodiehq/hoodie-account-server/pull/198

[2016-10-19 20:40] gr2m commented on #76
oooh okay sorry missed it :) All good then, cheers!

[2016-10-19 20:40] #76 closed, assigned to nobody

[2016-10-19 22:12] MarckK commented on #83
Hi,

No.  So, if not this particular issue, could I be assigned at least one
issue?

Kind regards,
Kara

On 19 October 2016 at 21:04, Gregor Martynus notifications@github.com
wrote:

[2016-10-19 22:38] gr2m commented on #83
we will assign someone by random tomorrow :) We only have that many issues available, I’m afraid. This is an independent community project, we all do this in our free time, so please be patient with us :)

[2016-10-20 02:31] blackcathacker commented on #73
I'll take this one.

[2016-10-20 02:31] jaimemendozadev commented on #73
I'll take this one with @blackcathacker

[2016-10-20 02:34] LowProfileDog commented on #73
:wave: invited you two to the repository :) You can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-20 02:37] reyesr3 commented on #80
@justinjyoo and I are working on this.

[2016-10-20 02:37] LowProfileDog commented on #58
@Taekyoon is working on this with @jimthoburn :) good luck!

[2016-10-20 02:39] LowProfileDog commented on #80
I’ve invited you two to this repository, you can accept the invitation at https://github.com/hoodiehq/camp/invitations. Once accepted, you can assign yourself to this issue and work off the steps above :)

[2016-10-20 02:42] Janatbek commented on #80
We'd like to pair on this issue.
@emilyyutschmidtling,

[2016-10-20 02:44] Janatbek commented on #75
We'd like to claim this
@emilyyutschmidtling

[2016-10-20 02:52] SamNazar commented on #65
I'd like to claim this issue.

[2016-10-20 02:57] LowProfileDog commented on #80
@janatbek it’s already taken, do you want to try https://github.com/hoodiehq/camp/issues/83 – it’s the same thing :)

[2016-10-20 02:59] LowProfileDog commented on #75
The issue is all yours :) I’ve invited you two to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-20 03:04] jaimemendozadev commented on #74
I'll claim it.

[2016-10-20 03:07] LowProfileDog commented on #74
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-20 03:09] #73 closed, assigned to blackcathacker

[2016-10-20 03:19] leighphan commented on #65
Hi @SamNazar @jcblw, we've invited you to be contributors to our repo, which you can accept here: https://github.com/hoodiehq/camp/invitations.

Once you accept, start checking off the completed tasks above! :)

[2016-10-20 03:31] #58 closed, assigned to Taekyoon

[2016-10-20 03:34] #80 closed, assigned to nobody

[2016-10-20 04:07] Dinika commented on #80
So, I'm guessing this issue has already been grabbed? If not, I'd love to claim it!

[2016-10-20 04:08] xuhdev commented on #71
See https://github.com/hoodiehq/hoodie-account-server/pull/207

[2016-10-20 08:52] Taekyoon commented on #70
Hey Greg! I'll handle with this!

[2016-10-20 14:49] 7ictor commented on #83
I want to work on this!, tried #80 with no luck, I have hope this time 💪

[2016-10-20 15:08] nistath commented on #59
I can work on this!

[2016-10-20 15:47] nistath commented on #59
I wrote the code required a while ago, but the testing process is kind of confusing, as it gets stuck at the `Reading TAP data from stdin (use "-" argument to suppress)` part, where all it does is mirror what I write in stdin.

[2016-10-20 16:57] gr2m commented on #55
thanks all for your help, I’m going to close this issue for now as we’ve put it on hold :(

[2016-10-20 17:00] #55 closed, assigned to mathesond2

[2016-10-20 18:21] #82 closed, assigned to Taekyoon

[2016-10-20 19:33] Stefan-Mitic commented on #83
I would like to claim this issue.

[2016-10-21 02:55] gr2m commented on #71
Hey Hong, I’ve invited you to this repository: https://github.com/hoodiehq/camp/invitations. Once accepted, you can assign yourself and check off the checkboxes above as far as you got :)

[2016-10-21 03:04] xuhdev commented on #71
Sure, thanks!

[2016-10-21 03:18] gr2m commented on #83
Hey @7ictor it’s your lucky day :) I’ve invited you to the repository: https://github.com/hoodiehq/camp/invitations Once accepted you can assign yourself and then work off the checklist above. Enjoy :)

Sorry to the others, hope you find something else to work on! There are some good resources on http://www.firsttimersonly.com/

[2016-10-21 03:58] #71 closed, assigned to xuhdev

[2016-10-21 04:01] LowProfileDog commented on #59
Thanks for looking into it @nistath The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

Can you tell us your node & npm version? Run `npm -v` and `node -v`

[2016-10-21 04:05] gr2m commented on #70
👍 thanks

[2016-10-21 15:41] minrwhite commented on #69
Can I grab this one?

[2016-10-21 18:19] LowProfileDog commented on #69
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-21 19:20] Taekyoon commented on #70
Greg! I can't try this issue right now. It's quite hard to deal with npm test. If possible, can u recommend references to learn some information to study this test?

[2016-10-21 20:07] gr2m commented on #70
change [these lines](https://github.com/hoodiehq/hoodie-account-server/blob/b83442f3c6f0a8055eac09b845e65b345494d9e3/tests/integration/routes/accounts/patch-accounts-test.js#L118-L119) to

[code]

Commit the change with `test(routes): PATCH /accounts/{id} password update response 204`, then start a pull request, we can discuss there, ok?

[2016-10-21 23:43] Taekyoon commented on #70
Thanks! I'll do that first!

[2016-10-22 00:13] minrwhite commented on #69
All done; ready for review.

[2016-10-22 10:49] nistath commented on #59
@LowProfileDog Here's what happens when I run the test.

$ npm test

Reading TAP data from stdin (use "-" argument to suppress)
asdasdasdas
asdasdasdas

and it keeps mirroring my input forever.

[2016-10-22 11:01] nistath commented on #59
The problem is that this works even if pouchdb is not installed. I have no idea if my new code works or not, although it is written according to the pouchdb documentation.

[2016-10-22 11:05] nistath commented on #59
I'm on node 6.5.0 and npm 3.10.3 on Windows 8.

[2016-10-22 11:42] codingCookie commented on #68
Hi, can i try this one?

[2016-10-22 17:51] LowProfileDog commented on #68
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-22 17:52] #69 closed, assigned to minrwhite

[2016-10-22 18:04] gr2m commented on #59
@nistath I don’t know why the test is behaving that way for you yet, I’ve never seen that behavior before.

One thinking mistake I found is that we don’t want the memory adapter, instead we want the [http adapter](https://www.npmjs.com/package/pouchdb-adapter-http), otherwise PouchDB won’t send requests and our CouchDB mocks will stop working

You can also try to run a single test. I’m not sure if

[2016-10-22 20:42] gr2m commented on #53
@gpaixao did you mean to close this issue? Current coverage is at 93%, still work to be done :)

[2016-10-22 22:21] #64 closed, assigned to sigorilla

[2016-10-22 22:39] #65 closed, assigned to jcblw, SamNazar

[2016-10-22 22:51] gr2m commented on #59
yeah fix was simple, I updated your PR: https://github.com/hoodiehq/hoodie-account-server/pull/213 and will merge it once CI passes, thanks :)

[2016-10-22 23:00] #67 closed, assigned to sigorilla

[2016-10-23 03:21] guiferpa commented on #53
Sorry sorry, I'm confounds. Sorry again. :/

[2016-10-23 03:58] gr2m commented on #53
no problem :)

[2016-10-23 06:52] nistath commented on #59
That specific test ran successfully. I think there's one test that does that, and goes in an infinite loop not letting the other tests run. Either that, or TAP has some issues.

[2016-10-23 15:00] codingCookie commented on #68
@LowProfileDog I think I'll have to give up on that issue :(
thought i would get it, but i think it is too much at the moment :/ sorry

[2016-10-23 21:58] #83 closed, assigned to 7ictor

[2016-10-23 22:20] gr2m commented on #68
No problem at all :) You are always welcome to try another one

[2016-10-23 22:21] gr2m commented on #59
all good, fixed via https://github.com/hoodiehq/hoodie-account-server/pull/213

[2016-10-23 22:21] #59 closed, assigned to nistath

[2016-10-23 22:47] sharynneazhar commented on #68
if this is open, I would like to try working on it :)

[2016-10-23 22:54] gr2m commented on #68
All yours @sharynneazhar :) I’ve invited you to this repository: https://github.com/hoodiehq/camp/invitations once accepted, assign yourself to this issue and start working off the list above :) Enjoy! And please let us know if you have any questions.

[2016-10-23 23:03] shuhei commented on #66
Hello, may I work on this?

[2016-10-23 23:15] LowProfileDog commented on #66
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-10-23 23:26] sharynneazhar commented on #68
The link above said to add the test to the delete-account-test file, but I'm assuming that was a copy pasta error? 😅 It should be in patch-account-test, correct?

[2016-10-23 23:33] gr2m commented on #68
Absolutely :) Oooopsie

[2016-10-23 23:49] shuhei commented on #66
Thanks! I've finished my PR. Would anyone review it?

https://github.com/hoodiehq/hoodie-account-server/pull/218

[2016-10-23 23:54] #66 closed, assigned to shuhei

[2016-10-24 00:26] #2 closed, assigned to klazich

[2016-10-24 00:26] #3 closed, assigned to klazich

[2016-10-24 15:42] #70 closed, assigned to Taekyoon

[2016-10-25 18:17] mathesond2 commented on #55
sounds good

On Thu, Oct 20, 2016 at 1:00 PM, Gregor Martynus notifications@github.com
wrote:

[2016-10-26 03:20] Janatbek commented on #80
@gr2m I think we started working on it, but then we chose delete user npm test  issue. this issue was token by someone else.

[2016-10-28 05:09] rohan097 commented on #80
I would like to claim this issue, if it is still open.

[2016-10-28 12:30] pprintz commented on #36
I would like to work on this issue!

[2016-10-28 20:05] gr2m commented on #36
@sunidhichaudhary are you still working on this?

[2016-10-29 14:11] nonameable commented on #36
Hello! I'd like to work on it :)

[2016-11-04 03:38] gr2m commented on #78
done via https://github.com/hoodiehq/hoodie-account-server/pull/197

[2016-11-04 03:38] #78 closed, assigned to nobody

[2016-11-04 03:42] gr2m commented on #72
Hey @paulohp how are things going?

[2016-11-04 03:42] gr2m commented on #68
hey @sharynneazhar how are things going? Anything we can help with?

[2016-11-04 03:43] gr2m commented on #53
hey @gpaixao @nachiketdhamankar are you still looking into this issue?

[2016-11-04 03:45] gr2m commented on #51
@anu0012 are you still looking into it?

[2016-11-04 03:46] gr2m commented on #36
Hey @sunidhichaudhary do you still want to work on this issue? Anyone else?

[2016-11-04 03:47] gr2m commented on #25
🔔 ping @tinyinkling let me know if you still want to work on this, otherwise we can free it up for someone else to work on

[2016-11-04 03:48] gr2m commented on #24
@chirgjn are you still working on it?

[2016-11-04 03:48] gr2m commented on #23
@machikoyasuda can we close this one?

[2016-11-04 03:50] ghost commented on #36
@gr2m I'd like to work on this issue.

[2016-11-04 03:52] gr2m commented on #36
@AkshayGulhane okay all yours :)  I’ve invited you to the repository, you can accept the invite here: https://github.com/hoodiehq/camp/invitations Once accepted you can assign yourself start working on the steps above :)

[2016-11-04 03:58] guiferpa commented on #53
I have a problem in my work. I am out of time. :worried:

[2016-11-04 04:01] ghost commented on #36
@gr2m I have raised a Pull request. Please review my changes. :) 👍

[2016-11-04 04:01] machikoyasuda commented on #23
yes

On Thu, Nov 3, 2016 at 8:48 PM -0700, "Gregor Martynus" notifications@github.com wrote:

@machikoyasuda can we close this one?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-04 04:03] #36 closed, assigned to nobody

[2016-11-04 04:04] #23 closed, assigned to machikoyasuda

[2016-11-04 04:05] gr2m commented on #53
no worries at all, all the best for your work 👍

Anyone else want to give this a try?

[2016-11-04 14:49] chirgjn commented on #24
Yes will be finishing it off this weekend.
But will need some help.
What would be a good time for a slack chat with you 😅

Sorry for the delay, some personal responsibilities required my time 😩

On Fri 4 Nov, 2016 9:18 am Gregor Martynus, notifications@github.com
wrote:

[2016-11-04 15:03] sharynneazhar commented on #68
ah I apologize for taking so long. Got caught up with midterms and group projects. I was planning on making the PR this weekend :)

[2016-11-07 00:54] gr2m commented on #68
no problem, let us know if we can help with anything :)

[2016-11-07 00:56] gr2m commented on #24
@chrifpa I’m based in LA, best time to connect would be your morning hours if you are based in New Delhi? Tuesday would work for me

[2016-11-07 03:51] chirgjn commented on #24
Tuesday it is then 😊

On Mon 7 Nov, 2016 6:26 am Gregor Martynus, notifications@github.com
wrote:

[2016-11-07 16:34] sharynneazhar commented on #68
@gr2m I can't push my branch up. Can you add me as a collaborator? If not, I can make a fork and make a pull request that way.

[2016-11-08 18:28] gr2m commented on #24
@chirgjn hey sorry can we do it your Friday morning hours, my Thursday evening hours? I arrived late last night from an event

[2016-11-08 18:29] gr2m commented on #68
@sharynneazhar invited you :) welcome to Hoodie

[2016-11-08 20:02] chirgjn commented on #24
@gr2m sure. Thanks for being so helpful 😊

[2016-11-08 21:42] sharynneazhar commented on #68
@gr2m Thanks! The PR is ready for review :) Any feedback appreciated!

I wasn't too sure about the authorization header, so let me know if it's not doing what it's supposed to. :)

[2016-11-10 03:45] #68 closed, assigned to sharynneazhar

[2016-11-10 03:45] gr2m commented on #68
That was great :) let me know if you’d like to work on another issue, maybe something more challenging? Happy to help find something interesting

[2016-11-10 04:23] danieltotherescue commented on #53
Desireedesario and I (danieltotherescue) would like to work on this.

[2016-11-10 04:26] LowProfileDog commented on #53
The issue is all yours :) I’ve invited you both to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-11-10 04:45] gr2m commented on #53
try this for debugging coverage:

[code]

And then open `coverage/lcov-report/index.html` in your browser of choice

[2016-11-10 23:55] sharynneazhar commented on #68
@gr2m Yeah, for sure! Just ping me what you have :)

[2016-11-11 07:59] chirgjn commented on #24
Hi @gr2m sorry was not available today. I won't be able to take this up until next weekend due to some work 😞. Marking it as `up for grabs` in case anybody else wants to work on this till then.

[2016-11-11 17:58] gr2m commented on #24
Okay, no worries. I’ll be in Germany next 3 weeks, should be easier to chat, ping me on http://hood.ie/chat/ when you are around

[2016-11-11 19:23] gr2m commented on #68
would you like working on increasing test coverage for https://github.com/hoodiehq/hoodie-account-server-api? It’s pretty poor right now.

You have to run `npm test` first, it will also give you a coverage summary. Then run

[code]

Which creates a local HTML coverage report, which you can open with `open coverage/lcov-report/index.html` which should open the report in your default browser. You ca

[2016-11-15 04:39] LowProfileDog opened #86 "Correct link of code coverage badge in hoodie’s README"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2016-11-15 20:12] LowProfileDog opened #87 "Correct link of code coverage badge in pouchdb-hoodie-sync’s README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:12] LowProfileDog opened #88 "Correct link of code coverage badge in pouchdb-hoodie-api’s README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:12] LowProfileDog opened #89 "Correct link of code coverage badge in hoodie-log’ README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:13] LowProfileDog opened #90 "Correct link of code coverage badge in hoodie-connection-status’ README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:13] LowProfileDog opened #91 "Correct link of code coverage badge in hoodie-store-client’s README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:13] LowProfileDog opened #92 "Correct link of code coverage badge in hoodie-account-client’s README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:13] LowProfileDog opened #93 "Correct link of code coverage badge in hoodie-client’s README"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-15 20:13] LowProfileDog opened #94 "Correct link of code coverage badge in hoodie-store-server’s README"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2016-11-15 20:13] LowProfileDog opened #95 "Correct link of code coverage badge in hoodie-server’s README"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2016-11-15 20:13] LowProfileDog opened #96 "Correct link of code coverage badge in hoodie-account-server’s README"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2016-11-15 20:13] LowProfileDog opened #97 "Correct link of code coverage badge in hoodie-account-server-api’s README"
### 🆕🐥☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 [About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know

Nothing. This issue is meant to welcome you to Open Source :) We are happy to w

[2016-11-15 22:30] gr2m commented on #11
Hey @barretodaniel I’ll open this issue up for others to work on, but happy to help you find something else in future if you are interested. Just ping me in the [Hoodie Chat](http://hood.ie/chat/)

[2016-11-15 22:35] gr2m commented on #13
I’ll free up this issue for [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/) as it was not worked on in the past month

[2016-11-15 22:36] barretodaniel commented on #11
No problem. Things got really complicated with school. I will let you know
when I can get back into contributing.

Thanks for all the help so far.
On Tue, Nov 15, 2016 at 5:30 PM Gregor Martynus notifications@github.com
wrote:

[2016-11-15 22:39] gr2m commented on #74
@jaimemendozadev are you still working on this PR: https://github.com/hoodiehq/hoodie-account-server/pull/206? Or shall we let someone else give it a try?

[2016-11-16 01:03] LowProfileDog opened #98 "Merge @hoodie/store & @hoodie/account into hoodie"
### 🤔 What you will need to know

You will need to know Node.js and npm and have an understanding how modular Node.js projects work. You should have written tests before, ideally acceptance tests. At Hoodie, we use [tap](http://node-tap.org) as our test runner and will start using [selsa](https://github.com/gr2m/selsa) to handle Selenium, Sauce Labs and Webdriver.

### ❓ The Background

While work

[2016-11-16 01:47] LowProfileDog opened #99 "hood.ie/chat: fix the page title"
[![This issue is reserved for Write/Speak/Code Open Source Hours](https://dl.dropboxusercontent.com/u/732913/writespeakcode-opensourcehours.jpg)](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/?123)

### ☝ This issue is reserved for attendees of [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/)

---

### 🤔 What you will need to know

[2016-11-16 03:16] jaimemendozadev commented on #74
Hey @gr2m! No, I'm not working on it. By all means let someone else give it a try! 😄

[2016-11-16 03:37] yfalcon8 commented on #87
I would like to claim this issue!

[2016-11-16 03:38] jeanhl commented on #99
Claimed!   :)

[2016-11-16 03:40] su6a12 commented on #93
I claim this issue

[2016-11-16 03:40] LindsayElia commented on #92
Hi I'd like to work on this issue :)

[2016-11-16 03:41] rshen91 commented on #87
Me too - thanks!

[2016-11-16 03:50] polina-munoz commented on #91
I'll take this!

[2016-11-16 03:51] roboticmonkey commented on #90
Hi, I would like to claim this one.

[2016-11-16 04:00] jeanhl commented on #99
Please review! 💃 💃 💃

[2016-11-16 04:08] su6a12 commented on #89
I claim this issue

[2016-11-16 04:14] jeanhl commented on #51
Claiming for opensourcehours 😃 😃 😃 😃 😃

[2016-11-16 04:14] polina-munoz commented on #91
please review: https://github.com/hoodiehq/hoodie-store-client/pull/135

[2016-11-16 04:25] #91 closed, assigned to polinadotio

[2016-11-16 04:27] #99 closed, assigned to jeanhl

[2016-11-16 04:28] #90 closed, assigned to roboticmonkey

[2016-11-16 04:30] #88 closed, assigned to yfalcon8, rshen91

[2016-11-16 04:32] #87 closed, assigned to yfalcon8, rshen91

[2016-11-16 04:33] gr2m commented on #93
closed via https://github.com/hoodiehq/hoodie-client/pull/100

[2016-11-16 04:33] #93 closed, assigned to su6a12

[2016-11-16 04:35] gr2m commented on #51
good luck @jeanhl :) Let me know if you have any questions, I’m in the [Hoodie Chat](http://hood.ie/chat/) for another hour or so

[2016-11-16 04:37] gr2m commented on #74
Thanks Jaime, I’m opening this up for  [Write/Speak/Code Open Source Hours](https://www.meetup.com/WriteSpeakCode-SFBay/events/235091424/) :)

[2016-11-16 04:39] LindsayElia commented on #92
This issue is ready for review

[2016-11-16 04:47] #92 closed, assigned to LindsayElia

[2016-11-16 04:53] #89 closed, assigned to su6a12

[2016-11-18 14:16] dinesh-sirvi commented on #86
Ready to claim the issue

[2016-11-18 14:24] LowProfileDog commented on #86
The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-11-22 18:57] matthewlanders commented on #11
hey @gr2m! Do you mind if I take this?

[2016-11-22 21:00] gr2m commented on #11
not at all! I’ve invited you to this repository, you can accept the invitation here: https://github.com/hoodiehq/camp/invitations

once accepted, please assign yourself and work off the checkboxes above :) Let us know if you need any help or have any questions. Enjoy!

[2016-11-22 22:36] gr2m opened #100 "Background tasks (task module)"
This is a high-level issue for a complicated task, meant for discussion and to find a "champion" who wants to take ownership of bringing background tasks back to Hoodie. Comment below if you are interested in helping us :)

### ❓ The Motivation

Background tasks can be used to trigger server-side logic provided by plugins. Tasks are simply JSON documents just like data. And just as with data, we h

[2016-11-22 22:38] inator commented on #100
I'm in!

[2016-11-23 00:02] mercyg commented on #86
Hi, this is my first time contributing to open source. I would like to claim the issue

[2016-11-23 06:36] matthewlanders commented on #11
Hey @gr2m! I have pushed a couple of commits. The first is the failing test, and the second is my solution (so far).

I was going through the code and thought that might be a good place to call the `admin.sessions.add` function: https://github.com/mmlanders23/hoodie-account-client/commit/cb990381fa8be51dc290d518ba4e8b85ab0c206a

I reasoned that this might be an appropriate place because the admin

[2016-11-23 09:36] LowProfileDog commented on #86
Hi Meheret, welcome to Hoodie, and welcome to Open Source :) You are more than welcome to work on this issue. Please accept our invitation at https://github.com/hoodiehq/camp/invitations and then follow the step-by-step instructions above. We are here to help if you have any questions. Enjoy!

[2016-11-23 11:46] gr2m commented on #11
Hey @mmlanders23 I fear you got a little lost in the code. The place that implements `admin.sessions.add` is here: [/admin/lib/sessions/add.js](https://github.com/hoodiehq/hoodie-account-client/blob/8ce3b89491cb4ccdb1a698508d2fac6d65804ca4/admin/lib/sessions/add.js)

I know it’s a bit confusing: `hoodie-account-client` basically implements two clients

1. Client for normal users
2. Client for admi

[2016-11-23 19:42] matthewlanders commented on #11
Hey @gr2m, thanks for the response! Ah, I see. Upon reviewing the info, and re-reading the description of the issues above, I think I might have misunderstood the bug.

To clarify the issue, the bug is that when I am signed in as an admin, I should be able to create sessions for another user.

The bug is NOT that sessions are not being created for admins upon sign-in.

Is that correct?

[2016-11-23 22:28] gr2m commented on #11
correct 👍

[2016-11-24 07:34] mercyg commented on #86
Hi LowProfileDog,  when I was about to merge the pull request I got blocked saying that review required?

[2016-11-24 08:48] gr2m commented on #86
@mercyg you can’t merge your own pull request, somebody else has to review it, that’s the process :) I’ll have a look

[2016-11-25 10:52] #86 closed, assigned to mercyg

[2016-11-25 11:15] dinesh-sirvi commented on #86
Its showing issue is closed...??

[2016-11-25 11:31] gr2m commented on #86
@dinesh-sirvi yeah it’s done now, you didn’t get back to us so we thought you wouldn’t be interested any longer, sorry! But stay tuned for more beginner friendly issues at Hoodie, and follow https://twitter.com/yourfirstPR for issues by other projects :)

[2016-11-25 11:33] dinesh-sirvi commented on #86
@gr2m Ok, no problem, Will wait for other issues...

[2016-11-28 20:58] inator commented on #100
After working with Gregor today to gain a better understanding of the vision for tasks (thanks @gr2m!), here's what I propose are the low fruit todos to get started:

- [ ] ~~hoodie-standalone-task: fix bug(s) to get it running again (see comment from Gregor)~~ (see [comment](https://github.com/hoodiehq/camp/issues/100#issuecomment-267781874) below)
- [X] task-server
    - [X] task-server: proxy q

[2016-11-29 16:54] gr2m commented on #100
👍 sounds good!

[2016-11-29 16:59] inator commented on #100
@gr2m you wrote:

Can you explain the buggy behavior?   I'm running it now and it would be helpful to know what you were experiencing before I dive deeper.  So far the PouchDB instance starts, client bundling occurs, and on the surface it seems to be running ok aside from the 404 errors noted as expected.  Granted I haven't tried to do anything useful with it yet. :)

[2016-11-29 20:06] gr2m commented on #100
When I run `npm start` in `hoodie-standalone-task` after installing dependencies, I see

[code]

the `get`s and `put`s continue, something’s not right there. I tested with a fresh install using node v6.9.1 and npm 3.10.9

[2016-11-29 20:11] gr2m commented on #100
But note that the setup that spawns `pouchdb-server` in a child process is outdated, we no longer use it. Instead, `@hoodie/task-server` should either proxy to a CouchDB (maybe we can start with that) or use `express-pouchdb` in other cases. Here is how [@hoodie/store-server does it](https://github.com/hoodiehq/hoodie-store-server/blob/master/index.js#L81-L93)

I’d spend a moment to try fix the se

[2016-11-30 07:04] matthewlanders commented on #11
Hey @gr2m, sorry for the delay here, holiday traveling made it difficult to work on this.

I am trying to identify the source of the issue. Maybe you can help clarify my understanding of the primary code at work here: hoodie-account-client/admin/lib/sessions/add.js

This is my understanding:

- We look for the user with the accountsFindAll method and we assign the response to the variable accountI

[2016-12-01 04:06] shaduk commented on #97
Hi. This would be my first PR. Please allow me to collaborate on this issue. Thanks for making open source easy for first timers. :)

[2016-12-01 20:00] inator commented on #100
@gr2m:  FYI - Still digging into this, but [this](https://github.com/hoodiehq/hoodie-task-client/blob/master/index.js#L40) does not seems to match up with [this](https://github.com/hoodiehq/hoodie-task-client/blob/master/lib/get-api.js#L5).

Even after adjusting the arguments order it does not work, so I'm continuing to hammer at it.

[2016-12-01 22:19] LowProfileDog commented on #97
welcome @shaduk 👋

The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-12-02 07:18] JavaScriptErika commented on #96
Hello! I'm a first-timer and am interested in claiming this issue.

[2016-12-02 10:24] gr2m commented on #94
reserving for a new contributer I will onboard later today :)

[2016-12-02 12:29] varjmes commented on #96
@JavaScriptErika go for it!

[2016-12-02 12:31] varjmes commented on #96
@JavaScriptErika I added you as a contributor to this repo, so you can now claim the issues yourself and work on the solution! You can accept the invitation at https://github.com/hoodiehq/camp/invitations

[2016-12-02 13:30] JavaScriptErika commented on #96
Great! Thank you @Charlotteis 🎆

[2016-12-02 13:59] JavaScriptErika commented on #96
I have completed the above steps, and I am ready for review :) Thank you!

[2016-12-02 15:23] #96 closed, assigned to JavaScriptErika

[2016-12-02 17:33] #94 closed

[2016-12-03 05:47] shaduk commented on #97
Hello @LowProfileDog Please review the changes I have done. Is there anything else I need to do?. Thanks for your support.

[2016-12-03 05:50] #97 closed, assigned to shaduk

[2016-12-03 10:39] gr2m commented on #97
it’s not yet done :) This issue gets closed once we merge your pull request, I’ll have a look now

[2016-12-03 10:42] gr2m commented on #96
Congratulations @JavaScriptErika to your first Open Source contribution ✨👏

[2016-12-03 16:39] pinglinh commented on #25
Hi I did a pull request for this at https://github.com/hoodiehq/documentation/pull/245 I hope it's okay? Let me know of any changes to be made :bowing_woman:

[2016-12-04 11:50] JavaScriptErika commented on #96
Hooray - Thank you @gr2m! Thankful to have this practice and experience with such a supportive group 👍

[2016-12-04 23:23] gr2m commented on #11
Yes that is all correct.

I just had a look myself since the issue is quite old now and we had lots of updates. I think the client is actually doing the right thing, it’s possible that it was fixed by someone else while working on the account client.

But it turns out that the server does not even define a route to create sessions for a user. The specification is here: http://docs.accountjsonapi.a

[2016-12-06 06:55] Taekyoon commented on #51
@jeanhl Hey, are you still work on this? If you aren't working with this, I want to try this issue

[2016-12-06 06:57] Taekyoon commented on #74
Hey @gr2m If I fail to take issue #51 , can I try this issue?

[2016-12-06 07:36] jeanhl commented on #51
Go ahead. :)

I look forward to learning from you.

Jean

[2016-12-10 14:01] gr2m opened #101 "drop localStorage usage in Hoodie Client"
### ❓ The Motivation

When thinking about Hoodie’s APIs, we always tried to come up with the most simple ones without worrying about complexities in implementation, we call this [Dreamcode](http://hood.ie/initiatives/#dreamcode). One aspect of that simplicity was that some of the API is synchronous, for example

- `hoodie.account.id`
- `hoodie.account.isSignedIn()`
- `hoodie.store.hasLocalChanges(

[2016-12-17 19:24] inator commented on #100
An update:

After a thorough review of the hoodie-standalone-tasks repo, and an attempt to repair, Gregor and I determined that it's just going to take too much to bring it up to date and functional.  Instead, I've started the process of creating a new standalone "hoodie-task" working example using [hoodie-store](https://github.com/hoodiehq/hoodie-store) as the basis.

So far, I've managed to get

[2016-12-21 22:53] gr2m opened #102 "Hoodie Community Dashboard"
If you asked me:

I could not answer it. Nor could any other maintainer from any other Open Source project that I asked so far. And this is a problem, because [Open Source Burnout is real](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=open%20source%20burnout) and yet we don’t measure the underlying problems in ways we measure code quality.

What we don’t measure, we

[2016-12-22 01:50] hzoo commented on #102
https://libraries.io/ has a lot of awesome stuff by @andrew which you probably know about.

### 1. Load by users

Stats like # issues/PRs should be easy to track via https://www.githubarchive.org/ or just the github API since it's pretty straightforward. Also [big query](https://medium.com/google-cloud/analyzing-github-issues-and-comments-with-bigquery-c41410d3308#.x5qyw8yd9), [2](https://blog.jes

[2016-12-22 03:20] jasonLaster commented on #102
Thanks @hzoo, I think it would be nice to share some Big Query APIs

We're also working on gathering contributor information in a google sheet as well. The sheet helps us keep track of the names and backgrounds of our contributors so that we can answer several maintainer questions:
* do we have a contributor who has a skill that can help (designer, right-to-left language speaker, linux user)
* how

[2016-12-22 03:45] inator commented on #100
@gr2m (and anyone else that's interested) - please have a look at [this approach](https://github.com/appback/task-server/blob/master/api/index.js#L36-L47) and let me know if I'm on the right track.  Thanks much!

[2016-12-22 05:55] gr2m commented on #100
left a comment at https://github.com/appback/task-server/commit/8e42dc4933e7839329bd7c0b5d8373131a4d54f6#commitcomment-20270126

[2016-12-22 10:47] lasomethingsomething commented on #102
@gr2m Saw a tweet directing readers to this issue -- very exciting. I work in Berlin at Zalando (huge, publicly traded company) as open source evangelist. Would love to chat, but in the meantime wanted to share these links to some dashboards (apologies if they're already known to you);

- [Zalando's dashboard](https://zalando.github.io/); code [here](https://github.com/zalando-incubator/catwatch);

[2016-12-22 11:04] dicortazar commented on #102
Hi there, willing to help with metrics :)

[2016-12-22 11:12] andrew commented on #102
Let me know if I can help pulling any statistics out of @librariesio for you

[2016-12-22 11:22] dicortazar commented on #102
BTW, I run a small analysis of ten projects of HoodieHQ, you can have a look at http://cauldron.io/dashboards/hoodiehq  . This is based on the tech we have at grimoirelab as referenced by @LappleApple .

You can see aggregated info per data source (Git, GitHub Issues and GitHub Pull Requests) and each panel provides several charts and tables.  You can drill down, filter or even export the data and

[2016-12-22 13:31] nayafia commented on #102
So happy you're doing this! A few more ideas:

Maybe average time til an issue/PR is closed, as well? Basically tracking how long it takes to resolve. I think support departments often track this.

Also the number of _opened_ issues/PRs, i.e. the rate at which they are being opened each week/month/whatever (which is more about growth).

This is probably implied, but I'd also track the number of re

[2016-12-22 14:21] lasomethingsomething commented on #102
+1 to @nayafia's ideas here. Nadia, are you saying that vossibility addresses your point? From the README I can't tell, exactly.

@icecrime, do you have other docs? (if not, let me know if you need help on that; I tend to follow [this README template](https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md) I created for Zalando.

[2016-12-22 16:19] nolanlawson commented on #102
\# of StackOverflow questions and average time until a StackOverflow response are also good things to track.

Dunno about Slack, but for IRC there's https://botbot.me/ which tracks logs and can be used to calculate messages per day (probably need to average it over number of users, though, because of bots).

[2016-12-22 16:44] gr2m commented on #102
[Cate mentioned](https://twitter.com/catehstn/status/811904181313437696) [foss-heartbeat](https://github.com/sarahsharp/foss-heartbeat) by @sarahsharp

[2016-12-22 18:03] nayafia commented on #102
@LappleApple I meant that vossibility might be a useful tool for creating dashboards/visualizations of any GitHub data collected. [vossibility-collector](https://github.com/icecrime/vossibility-collector) has a bit more info in its README.

[2016-12-22 18:31] icecrime commented on #102
Thanks for the ping!

[Vossibility](https://github.com/icecrime/vossibility-stack) is a tool I created to help me manage the [:whale: Docker](https://github.com/docker) open source project. I do wish it was easier to consume or use in other projects, it's mostly a matter of documentation :disappointed:

**TL;DR:** vossibility takes GitHub data, [transforms it](https://github.com/icecrime/vossibili

[2016-12-22 18:34] dicortazar commented on #102
Hey just to mention (do not want to spam! ^^) that grimoirelab supports the following data sources: askbot, bugzilla, confluence, discourse, gerrit, git, github issues, github pull requests, mbox, jenkins, jira, mediawiki, meetup, phabricator, pipermail, redmine, rss, stackexchange (stackoverflow), supybot, telegram, kitsune and remo. There's some extra info of Perceval, the retrieval tool at: htt

[2016-12-22 18:54] sagesharp commented on #102
One of the things I would love to focus FOSS Heartbeat on is the people in open source communities. I think we often get caught up in metrics like "Is rate of merged pull requests increasing?" without focusing on the people behind those metrics. Examples of more people-focused questions I would love FOSS Heartbeat to answer are:
- What is the average load of pull requests reviewed and merged for e

[2016-12-22 19:01] nayafia commented on #102
@sarahsharp's excellent qs remind me...a lot of these metrics should be used to measure not just growth, but sustainability.

Ex. "average response time" can be used to measure how quickly maintainers respond to issues/PRs, but if it's decreasing over time, that can also be a sign of exhaustion. So the response isn't just _"answer them faster!"_ but might be _"how do we get additional :eyes:s and

[2016-12-22 19:53] mikeal commented on #102
A few things that we pull regular metrics on in the Node.js project that have been important.

* % of contributions by top 10 contributors (we like to see this go down over time, distributing the work across more contributors).
* PRs merged per month, broken down by *non-committers* and committers. This lets us quickly identify people to on-board as committers each month.
* Adoption of each major

[2016-12-22 19:57] lasomethingsomething commented on #102
@dicortazar / @sarahsharp I'll be at FOSDEM too, as will some of my Zalando colleagues (@alexkops for sure, hopefully @hjacobs and our IP lawyer at minimum as well). Also cc'ing my colleagues @jbspeakr and @KathleenLD here so they can follow this thread; both are interested in/have exp in metrics and balance.

@nayafia Thank you for clarifying your point and for the extra link. @icecrime, would be

[2016-12-22 20:07] mikeal commented on #102
One last thing I'll say: think carefully about what is important to the project before building the dashboard.

There's plenty of data out there and it's easy to get lost in creating amazing visualizations of it. I've done this myself a few times and the result was more of a distraction than a benefit. There's also a bunch of products out there that already do this and I feel the same way about mo

[2016-12-22 20:15] gr2m commented on #102
@mikeal I very much agree. [The Hoodie way](http://hood.ie/initiatives/#dreamcode) to avoid this problem is to start with the end result without thinking about technical limitations or what data and tooling is available today. Then we will probably create some kind of dummy dashboard that just looks and feels amazing, then we all get super exciting about it, and then we make it work backwards :)

[2016-12-22 21:05] tracykteal commented on #102
This is great & very important! @sarahsharp point about understanding the perceptions of people in the open source community is important for understanding the health & sustainability of the project, beyond the quantitative metrics.

@kariljordan just pointed me at this great paper from Steinmacher et al on self-efficacy towards OSS projects [Increasing the Self-Efficacy of Newcomers to Open Sourc

[2016-12-22 23:06] leighphan commented on #102
Thanks everyone for your interest. I greatly appreciate all the tips on starting points! Looks like there are many different angles and ways we can extract and visualize the climate of Open Source communities.

@jasonLaster I'm curious - how do you get to know contributors better? Are there weekly chats/meetings welcome to everyone?

While project data can reveal efficiency and growth of OS projec

[2016-12-23 18:47] inator commented on #100
@gr2m: First task-server [PR](https://github.com/hoodiehq/hoodie-task-server/pull/37) now ready for your review.

[2016-12-25 14:12] nickdex commented on #95
Hello @LowProfileDog , I'm adding an issue for first-timers as well and I was wondering if you could provide the template for the issue above if not too much of a trouble.
Thanks :smile:

[2016-12-25 17:53] LowProfileDog commented on #95
Not at all: our template is here: https://github.com/hoodiehq/camp/blob/gh-pages/ISSUE_TEMPLATE.md – hope that helps :) Here are some thoughts behind these issues: http://hood.ie/blog/starter-issues.html

[2016-12-25 18:02] nickdex commented on #95
Wow I didn't expect a full blown tutorial for creating starter issues. I would like to thank you on behalf all the people that I'm going to refer haha.
I'm a newbie to open source myself and I really appreciate the work that you are doing.

[2016-12-25 18:10] LowProfileDog commented on #95
![giphy](https://cloud.githubusercontent.com/assets/17463029/21472360/610d417c-ca8a-11e6-9002-be31013159ec.gif)

_wiggle waggle_

[2016-12-25 20:37] #101 closed, assigned to gr2m

[2016-12-26 04:15] nickdex commented on #95
Haha that's cute :smile:

[2016-12-26 11:21] varjmes commented on #95
@simonehaas are you still working on this? :)

[2016-12-27 23:00] gr2m opened #103 "Don’t set "hoodie-start" script if "start" script is set to "hoodie""
### 🤔 What you will need to know
Basic knowledge of Node.js and npm.

### ❓ The Motivation
We improved the setup experience for new Hoodie apps by directly setting the "start" script in your app’s `package.json` file when you installed `hoodie` with `npm install --save hoodie` via https://github.com/hoodiehq/hoodie/pull/592

We also made sure that we don’t override an existing "start" script via h

[2016-12-28 07:54] italo-batista commented on #95
hi! is this issue still open? :}

[2016-12-29 00:17] inator commented on #100
@gr2m - as it relates to the start() method [here](https://github.com/hoodiehq/hoodie-task-client):

`queue.start(attributes/*, options */)`

I'm wondering if we should go with something like this instead:

`queue.add(attributes/*, options */)`

For me personally, I would think of queue.start() as a method for starting the entire queue, rather than initiating a single task item.

your thoughts?

[2016-12-29 00:38] inator commented on #100
With that ^ in mind, we'd likely want something like the following as well:

[code]

[2016-12-29 00:50] inator commented on #100
Todos [updated](https://github.com/hoodiehq/camp/issues/100#issuecomment-263392010)

[2016-12-29 04:36] gr2m commented on #100
I think neither are perfect, both add and start look like they just add the task, while the method only resolves after the full life cycle was executed. But I think the functionality we will need is clear and I would suggest to focus on that first, to get the task module itself working. Once we have all in place, we should have an extended discussion about the naming of the methods

[2016-12-31 18:05] gautamkrishnar commented on #103
I would like to work on this
Invite me to slack. Your invite form is not working on http://hood.ie/chat/

[2016-12-31 18:15] LowProfileDog commented on #103
Welcome @gautamkrishnar!

Does that slack form work for you: https://hoodie-slackin-xuhlegfruy.now.sh ?

The issue is all yours :) I’ve invited you to our Camp repository, you can accept my invitation at https://github.com/hoodiehq/camp/invitations

Once accepted, you can assign yourself to this issue and check off the checkboxes above. Enjoy 🐕

[2016-12-31 18:19] gautamkrishnar commented on #103
Thanks. https://hoodie-slackin-xuhlegfruy.now.sh worked for me. I am now going through hoodie docs.

[2017-01-02 14:19] lasomethingsomething commented on #102
Hey all, where are we on this thread? Some of us are talking about FOSDEM right now and it reminded me, there was talk of a FOSDEM get-together. Should we plan?

[2017-01-02 15:30] bkeepers commented on #102
👍  GitHub would be happy to host a dinner conversation.

[2017-01-02 15:37] lasomethingsomething commented on #102
👍 @bkeepers. Or does the group here want to take some sort of action, based on @gr2m's original pitch and the ideas that have followed since? I don't know the answer to this question, it's for everyone :)

[2017-01-02 16:43] jasonLaster commented on #102
Thanks everyone for the wealth of information. I am inspired by all of the ongoing work.

Here's a quick [doc](https://docs.google.com/document/d/1_sodj8aDS3bl3G_f1UL-Gwox0M0B0VWzaffbOcV-OG4/edit#) that I started to summarize what I learned. Please feel free to improve it in anyway.

Also, if you're interested in joining a hangout, add your name to the doc and we can discuss next steps.

[2017-01-02 18:26] gr2m commented on #102
@jasonLaster this is great work, thanks for putting it together 👍

[2017-01-03 03:10] nayafia commented on #102
@tracykteal you might be interested in http://opensourcesurvey.org/, which is being conducted by GitHub. While not specific to any one project, some of those Steinmacher et al questions will be asked of respondents, so might be helpful as a baseline. The survey questions are public, and results will be public too.

[2017-01-03 16:31] clarkbw commented on #102
Just getting back into the swing of things but @jasonLaster pointed me to this over the holidays and I was really excited to see all the enthusiasm and work going on.  I've been looking at this from a couple different angles with very similar goals to what I've seen here so I'll share what I've been thinking.

First I want to understand the contributor funnel (funnel being a standard marketing ter

[2017-01-03 17:12] leighphan commented on #102
I'm also also curious how or if projects have an onboarding process (perhaps like Hoodie Camp) to get to know contributors' interests, such as building a portfolio, getting a job - this would help give a clearer idea of their trajectory. I started @codelaboc, a learning group in my community, and we conduct a survey for new members, to get an idea of their goals and strengths, and shape our events

[2017-01-04 16:49] nayafia commented on #102
@leighphan off the top of my head, I don't think so (it's geared more towards contributor behavior than project norms), but you can see the [full set of questions here](https://github.com/github/open-source-survey/blob/master/survey-instrument.md).

[2017-01-06 06:16] inator commented on #100
While working on the task modules, there's been some design concepts - some old and some new - that have been discussed between Gregor and I that we feel should be documented and up for discussion while development is underway.  Here's the (work-in-progress) list of those items that collectively describe the new tasks approach.  I'll do my best to update it as discussions occur in the various chan

[2017-01-06 15:44] janl commented on #100
Meaning using a CouchDB replication filter to only sync tasks docs to a client that belong to a specific user?

There are two problems with this:
1. with large number of users, this becomes a very slow operation. I’d say for now we can get away with 1k-10k users, but beyond that I’d be careful.
2. if a user has access to one doc in a db on a server, they have access to all other ones. The `store-s

[2017-01-06 16:12] inator commented on #100
@janl - thanks for the questions!

I'm admittedly still coming up to speed on how we might accomplish the filtering, so I'll defer to @gr2m  to explain the conceptual approach, but I believe the intent is to handle that on the [db side of the proxied routes](https://github.com/hoodiehq/hoodie-task-server/blob/master/index.js#L76-L77), to ensure there's no leakage.  As you can see, that hasn't been

[2017-01-06 18:32] gr2m commented on #100
I had the discussion with @glynnbird who is working on [envoy](https://github.com/cloudant-labs/envoy/), a solution that emulates a-database-per-user while still storing all data in a single database.

What we were thinking is to let only initial bootstrapping request through. Once they get "since=now", we would handle them in the Node server. That way we would have a single continuous /_changes r

[2017-01-07 17:34] janl commented on #100
How is this more important for tasks? What use-cases or implementation details are you considering? What would be the problem with a task db per user?

One concern is listening to database changes, and that’s easier with one vs. one per user. With CouchDB 2.0, we can already build an efficient “listen to all databases’ _changes feeds” e.g. fairly easily. For CouchDB 1.x it’d be semi efficient, but

[2017-01-07 17:39] janl commented on #100
@inator Thanks for the pointers. I wanted to make clear that I’m okay with having different APIs on client and server, because the environments are different. But I think the same concepts should have the same name on both sides.

E.g. on the client we do `task.start()` but to listen for a started task on the server we do `task.on('add', handler)`. I’d make them the same. At the moment it looks li

[2017-01-08 06:13] gr2m commented on #100
@janl don’t bother looking at all of envoy, I don’t think that more than 10 lines will be relevant for our case. In `POST /hoodie/task/api/queue/<id>/_bulk_docs` we check if all docs are prefixed with `<id>`. In `GET /hoodie/task/api/queue/<id>_changes` we only return documents that are prefixed with `<id>`. I think that’s very trivial, I don’t see the complexity in this?

I would also separate th

[2017-01-08 09:10] janl commented on #100
`hoodie-task-server` could write this information into a global task database that is only available to admins `on('success')` and `on('error')` for example. Or if we don’t want that code complexity, we replicate all user-task dbs into a admin-only global task db and do the queries there. Or even simpler: we could write the errors/successes into a log file and display that in the admin interface

[2017-01-08 10:37] janl commented on #100
I meant Envoy. Ideally, to PouchDB, this looks like db-per-user, but behind the scenes it isn’t. If anywhere, this functionality should live in CouchDB and PouchDB need not know about it.

[2017-01-08 10:39] janl commented on #100
One more thing, since you mention scale. Either way, this would mean a continuous _changes stream from client to server for the regular per-user db and one for the tasks database (doesn’t matter if one single, or per-user). Are we prepared to do this?

[2017-01-08 22:57] gr2m commented on #100
Yes I thought about this, all requests would be authenticated with a random token that is generated the first time you create a task, the token is stored in a `_local` doc in your local task database and the central task database on the server (we will probably need an additional route for it, or require it as an argument on the initial `PUT /hoodie/task/api/queue/<id>` request). Once you signed u

[2017-01-08 23:28] gr2m commented on #98
I’ll look into it :)

[2017-01-09 00:23] gr2m commented on #98
The PR is ready for review https://github.com/hoodiehq/hoodie/issues/666 👓 👀

[2017-01-09 21:51] gr2m commented on #24
I updated the issue to reflect changes to our documentation

[2017-01-09 23:00] #98 closed, assigned to gr2m

[2017-01-13 15:34] inator commented on #100
@janl - Sorry for the delayed response.  Makes perfect sense!  I opened this [issue](https://github.com/hoodiehq/hoodie-task-server/issues/42) to look at making nomenclature and method names consistent where appropriate.

[2017-01-13 15:39] inator commented on #100
Heads up - there's been some offline discussion on this, and ultimately @gr2m and I have elected to move forward with this plan:

1. Move forward with the architecture as is with the single task database on the server and make the different parts work, then...
2. Focus on the one task database per user model, as @janl prefers that due to security, while...
3. Continuing to try to find a safe way o

[2017-01-13 18:53] inator commented on #100
[Feature list](https://github.com/hoodiehq/camp/issues/100#issuecomment-270839808) updated:

[2017-01-13 20:03] gr2m commented on #102
Ping y’all we have our call now: https://hangouts.google.com/hangouts/_/ytl/UEvPNg8shOvgwS0UkHTqUZaBAyTFka7Uw48XxnSqRvE=?hl=en_US :)

[2017-01-14 02:24] gr2m commented on #100
thanks for keeping us in the loop, Dale!

[2017-01-16 17:22] inator commented on #100
Todos [updated](https://github.com/hoodiehq/camp/issues/100#issuecomment-263392010)

[2017-01-23 21:26] gr2m commented on #16
this is done: https://en.wikipedia.org/wiki/Hoodie_(software)

[2017-01-23 21:28] #16 closed, assigned to nobody

[2017-01-23 21:31] ghost commented on #95
Is anybody working on this?
I can pick this issue. :)

[2017-01-23 21:34] gr2m commented on #95
@AkshayGulhane I’m afraid yes, Simone and I will finish that issue this week

[2017-01-23 21:35] ghost commented on #95
@gr2m Sounds good! :) 👍

[2017-01-27 06:30] gr2m commented on #51
that’s done now :) https://github.com/hoodiehq/hoodie/issues/555

[2017-01-27 06:30] #51 closed, assigned to Taekyoon

[2017-01-27 06:43] gr2m opened #104 "Enable 3rd party plugins"
This is something we have been working towards for the past year, and finally the pieces are all in place in order to allow to extend your Hoodie app easily with plugins provided by npm packages.

### 🤔 What you will need to know
We created a [dummy plugin](https://github.com/hoodiehq/hoodie-plugin-example) with extended information on how things should work. The two blockers we mention in there a

[2017-01-29 06:39] gr2m commented on #7
Hey @dengjonathan you still interested in working on this?

[2017-01-29 06:42] gr2m commented on #8
@distalx @ArcadiusK still interested in working on this?

[2017-01-29 06:44] gr2m commented on #11
@mmlanders23 are you still interested to work on this?

[2017-01-29 06:44] #21 closed, assigned to kouryuu, mbad0la, distalx

[2017-01-29 06:47] gr2m commented on #22
that’s done via https://github.com/hoodiehq/hoodie-account/pull/75 :)

[2017-01-29 06:47] #22 closed, assigned to kouryuu, mbad0la, distalx

[2017-01-29 06:48] gr2m commented on #24
@chirgjn still interested in working on this issue?

[2017-01-29 06:52] gr2m commented on #25
Hey @pinglinh we consolidated our documentation, it now lives at https://github.com/hoodiehq/hoodie/tree/master/docs and is hosted at http://hoodie.readthedocs.io. The original

The "" is still accessible at https://github.com/hoodiehq/documentation/blob/gh-pages/en/tutorials/index.md. It would still be cool to update the tutorial for the new Hoodie. If you’re still interested to work on it? I’m h

[2017-01-29 06:53] gr2m commented on #53
all done via https://github.com/hoodiehq/hoodie-account-server/issues/226 thanks everyone!

[2017-01-29 06:53] #53 closed, assigned to desireedesario, danieltotherescue

[2017-01-29 06:56] gr2m commented on #74
@Taekyoon let me know if you need any help :)

[2017-01-29 07:09] gr2m commented on #103
Hey @gautamkrishnar how are things going? Anything we can help with?

[2017-01-29 08:45] gautamkrishnar commented on #103
Sorry for being late. I was a little busy these days. @gr2m can you please explain me what i need to change.
This statement looks a bit confusing to me:
`
If the "start" script is set to "hoodie", npm install --save hoodie current sets the "hoodie-start" script. But it should not do anything if the start script is set to "hoodie" or something like "hoodie --inMemory".
`

[2017-01-29 21:03] gr2m commented on #103
no worries, happy to explain. Try this:

[code]

when it’s done, you will see that the package.json file in the test folder you created has a line `    "start": "hoodie"`.

now, remove the `"dependencies"` key from your package.json and `rm -rf node_modules`. Leave the `    "start": "hoodie"` line and run `npm install --save hoodie` again. Open `package.json` and now you will see two lines

[code]

[2017-01-30 00:14] gautamkrishnar commented on #103
Thinks a lot for your explanation. I will try to fix that soon....

On Mon 30 Jan, 2017, 2:33 AM Gregor Martynus, <notifications@github.com>
wrote:

[2017-01-30 02:10] gautamkrishnar commented on #95
@aksh77 i think this one is good for you. Please comment here if you want to work on this...

[2017-01-30 03:26] gr2m commented on #95
it’s taken I’m sorry :)

[2017-01-30 04:40] gautamkrishnar commented on #95
Okay @gr2m next time...

[2017-01-31 15:18] #103 closed, assigned to gautamkrishnar

[2017-01-31 17:24] #95 closed, assigned to simonehaas

[2017-02-02 03:51] thepudding commented on #7
If possible @lucask42 would like to take this.

[2017-02-02 21:05] distalx commented on #8
haven't this already been addressed in https://github.com/hoodiehq/hoodie/pull/583 ?

[2017-02-02 21:53] gr2m commented on #8
hoodiehq/hoodie#583 was about a fallback UI that is shown if your app has no public folder. It shown when you open the `/` path. This issue is about what we will show if you open the `/hoodie` path, every hoodie app will have that

[2017-02-05 00:06] distalx commented on #8
My understanding was it's a duplicate issue so I closed my PR, Since @thepudding had already started working on this,  if it's okey with @thepudding - I'd be happy to help / coordinate with @thepudding. :) Thanks.

[2017-02-06 00:12] thepudding commented on #8
Hi, hope I didn't step on any toes. I'd be happy to work with @distalx on this.

Is the pull request I submitted on the right track? I think the static pages under `/hoodie` and `/fallback-ui` could be more helpfully written...

[2017-02-06 08:13] Taekyoon commented on #74
@gr2m I gotta some works from outside, so I'll push my updated project in this week!!

[2017-02-08 17:33] jicksy commented on #104
Hi @gr2m ,
Facing some errors when I am trying to test locally.

I did `npm install https://github.com/hoodiehq/hoodie-plugin-example.git --save`, it saved the dependency to `package.json` file.

I did npm start, it opened in localhost:8090. Looks like I need to create a folder public> index.html and then test out the new plugin that I am adding in.
Please confirm if this is the way to do the test

[2017-02-09 00:42] gr2m commented on #104
The `npm-debug.txt` you linked looks like you tried to install `https://registry.npmjs.org/plugin-example`, but no such package exists: https://www.npmjs.com/package/plugin-example

The setup to install the current `hoodie-plugin-example` directly from github into an app would be like this

[code]

Now you can start the app with `npm start` and you should be able to see it at http://localhost:8080

[2017-02-09 04:17] jicksy commented on #104
Thanks @gr2m . This is working. I am alble to get to localhost:8080.

I'm now seeing 'get going with hoodie' page. It tells me to create public/index.html. So to use the new plugin I'll create a public folder>index.html and give reference to the plugin. Hope that's the way to do it

![screenshot from 2017-02-09 09-44-37](https://cloud.githubusercontent.com/assets/1969390/22769092/76d970fc-eeac-11e

[2017-02-09 19:40] gr2m commented on #104
you don’t have to. Open your web developer tools and you should have the `hoodie` API available. The goal is now that there should be the `hoodie.send.email()` method and it should actually send an email.

For that you have to implement the feature as described in https://github.com/hoodiehq/hoodie-plugin-example#implementation, and here for reference the message I sent in slack:

[2017-02-12 22:53] gr2m commented on #13
I finally know how we can use the `.changes()` feed but still differentiate between local and remote docs, so part of the problem here can be resolved now.

The trick is to generate a local client uuid once and then persist it, and store that client uuid with every document update.

Now when we listen to changes of the localDatabase, we can simply check if the clientId is the one of the current cl

[2017-02-13 06:28] #77 closed, assigned to distalx

[2017-02-18 20:56] gr2m opened #105 "first-timers-only issue bot"
### :dart:⛳ The goal

We want to streamline the process to create very simple contributor-friendly issues to help onboard more people to become Open Source contributors. See [issues with first-timers-only label](https://github.com/hoodiehq/camp/issues?utf8=%E2%9C%93&q=label%3Afirst-timers-only) for examples.

The goal is to make creating a `first-timers-only` issue as simple as making the fix ours

[2017-02-18 21:33] jeanhl commented on #105
Hey Gregor,

Thanks for making the first-timer guide. I did my first pull-request last
year as a first-timer and have been looking for issues easy enough for a
beginner like me. :)

I look forward to contributing more.

Have a great weekend!
Jean

On Sat, Feb 18, 2017 at 12:56 PM, Gregor Martynus <notifications@github.com>
wrote:

[2017-02-18 22:57] gr2m commented on #99
Hey Jean, I just saw your comment in https://github.com/hoodiehq/camp/issues/105. I plan to create a few more camp issues over the weekend, I’ll ping you when I find one for you :)

[2017-02-19 00:26] jeanhl commented on #99
Yay!

I look forward to it, Gregor.

[2017-02-19 02:40] gr2m commented on #99
are you on twitter by chance?

[2017-02-19 23:13] jicksy commented on #104
https://github.com/hoodiehq/hoodie/pull/690
Hi @gr2m

My pull request.

I tried assigning the value of hoodie.plugins array to thirdPartyPlugins, is this the correct way to do it? It gives me error hoodie.plugins module is not present in my locale.

[2017-02-21 17:58] jeanhl commented on #99
Hey Gregor,

Sorry for the late reply. It's been a busy weekend (I'm job searching). My twitter handle is @JiinLiu . I use it for primarily for content consumption, it looks a little neglected.

:

[2017-02-21 18:27] gr2m commented on #99
happy to help with the outreach :) Do you have anything online that we can share? Anything particular you are looking for?

[2017-02-22 05:36] sohini-roy commented on #105
I would like to claim this issue!

[2017-02-22 05:59] gr2m commented on #105
@sohini-roy I’m sorry but it’s already taken :)

[2017-02-22 06:19] sohini-roy commented on #105
Hey , sorry i didn't know that . I have almost completed version 1 i.e. 7/8 of the given tasks of version 1. So i was wondering to send a pull request :)

[2017-02-22 07:10] sohini-roy commented on #24
Hey, I am new to hoodie and documentation is a good way to start. i would like to work on this issue. It would be a great opportunity for me. Thank you :)

[2017-02-22 08:33] gr2m commented on #105
ooops :) If you like start a pull request and I can give you feedback on it, but then it’d be better to find something else to work on :)

[2017-02-22 08:34] gr2m commented on #24
all yours :) I’ve invited you to this repository: https://github.com/hoodiehq/camp/invitations

Once accepted, you can start working off the checklist above :)

[2017-02-23 10:41] sohini-roy commented on #24
Thank you :)

[2017-02-24 12:04] sohini-roy commented on #24
Thanks again for the opportunity :)

I have updated the document and have sent a pull request. Hope that's ok? Please have a look at it and let me know :)

Have a great weekend!

[2017-02-24 12:07] sohini-roy commented on #105
Thank you :)

I have started a pull request. Hope that's ok?

[2017-02-27 01:42] gr2m opened #106 "GitHub login for static websites hosted on GitHub pages"
### :dart:⛳ The goal

We have ideas for several simple web applications that will work directly against the [GitHub API](https://developer.github.com/v3/). The goal is to hide away complex workflows like sending a pull request to publish a blog post from editorial contributors, and instead create a web application that shows a nice web form instead. Basically the overarching goal is to make our co

[2017-02-27 21:17] dristibutola commented on #106
@gr2m  I think the local host should be [http://localhost:4200](url) as per the readme file

[2017-02-27 21:30] gr2m commented on #106
`http://localhost:9080` is the default of [static-server](https://www.npmjs.com/package/static-server) so I’d suggest to set this. We can change things later. This is independent of the hoodie.camp app

[2017-02-27 23:20] dristibutola commented on #106
So now its sorted , i understood!!
![screenshot from 2017-02-28 17-27-53](https://cloud.githubusercontent.com/assets/20968867/23404518/711850e6-fddb-11e6-82f9-21c39fb1f5a3.png)

[2017-02-27 23:24] gr2m commented on #106
yes that looks good 👍

[2017-03-02 22:26] gr2m commented on #104
Jicksy mentioned [she’ll be gone for a week](https://github.com/hoodiehq/hoodie/pull/690#issuecomment-283419401). @jicksy ping me when you’re back I’ll find you something else to work on :)

Meanwhile @labaikie took on working on this issue: https://github.com/hoodiehq/hoodie/pull/711

[2017-03-02 22:42] gr2m commented on #105
@jsoranno any progress on this? Anything we can help with?

[2017-03-04 09:36] sohini-roy commented on #24
Hello
I have updated the documentation for deploying a hoodie app to linux server. I have started a PR in the hoodie repo. Any changes needed or suggestions are welcome. :)

[2017-03-04 15:15] jsoranno commented on #105
@gr2m Hi Gregor! I'm sorry it's taking me so long to get started. Wrapping up my job to start a new one is taking more than I expected. It looks like @sohini-roy would be a great person to take it over. I'd love to contribute once I get more comfortable at my new job. Thanks for being so supportive!!!!

[2017-03-04 17:44] gr2m commented on #105
Okay :) Let me know when you are looking for something to work on. All the best for your new job :)

@sohini-roy @jeanhl I’d like to give this someone else to work on whom I promised a little project for a while now. If you two are still looking for something to contribute, I’d be happy to find something else? I think @sohini-roy is already busy working on the deployment documentation for linux ri

[2017-03-04 20:08] jeanhl commented on #105
Absolutely. :)

On Sat, Mar 4, 2017 at 9:44 AM, Gregor Martynus <notifications@github.com>
wrote:

[2017-03-05 18:53] gr2m commented on #105
@jeanhl I’ve pinged you in slack :)

[2017-03-05 20:08] sohini-roy commented on #105
Thank you @jeanhl for recommending me :)
I am towards the end of documentation @gr2m .I would love to work on a new issue :)

[2017-03-07 22:36] gr2m commented on #106
are you done with it? Can you upload your code somewhere?

[2017-03-08 00:55] dristibutola commented on #106
Yeah almost there , I have pushed my code here https://github.com/dristybutola/hoodie-welcome

[2017-03-08 00:58] dristibutola commented on #106
Right now I am caught up with my exams , would follow up by the end of week:)

[2017-03-08 00:59] gr2m commented on #106
good luck with your exams :) Let me know when you are ready, happy to review then!

[2017-03-08 01:06] dristibutola commented on #106
Thanks a lot !!
Although I think the code,    https://github.com/dristybutola/hoodie-welcome
is almost done, but I need to test it properly on my machine as we have 2 different code
versions.Will update soon.

[2017-03-09 07:55] sohini-roy commented on #24
Fixed the syntax and changed the mentioned lines.Please have a look? :)

[2017-03-09 20:34] gr2m opened #107 "💯 Code Coverage for hoodie"
### 🤔 What you will need to know

JavaScript, Node.js. Knowledge about [npm](https://docs.npmjs.com/) would be helpful but are not required, you’ll figure it out as you go :)
### :dart: The goal

100% code coverage makes sure that every single line of code is covered by tests. And it looks pretty cool once we have all the 💯 for all modules in [Hoodie’s Architecture](https://github.com/hoodiehq/hoo

[2017-03-10 07:14] sohini-roy commented on #107
Thank you :)

[2017-03-11 16:29] sohini-roy commented on #107
My partner Alice has made a pull request. Please review.

[2017-03-14 00:56] #107 closed, assigned to sohini-roy

[2017-03-14 09:34] dristibutola commented on #106
I think the code is ready for review, The repository link is  --
 https://github.com/dristybutola/hoodie-welcome
Also we are suppose to load just the user data at '' https://api.github.com/user?access_token=...''
on Load Profile  click event?

[2017-03-14 18:03] gr2m commented on #106
@dristybutola could you add instructions and a "How it works" section to the repository’s `README.md`?

[2017-03-15 02:57] dristibutola commented on #106
Ofcourse, I am on it.What exactly am I supposed to write in instructions should I write all starting from
making a local clone of github-secret keeper too?

[2017-03-15 18:09] gr2m commented on #104
Hey @labaikie, I’d like to get this feature released before next week as a few events are coming up where Hoodie will get some exposure. Do you think you can finish your PR? Sorry for being pushy, we try to avoid it as much as possible :(

[2017-03-15 22:29] labaikie commented on #104
@gr2m I totally understand!! I apologize for holding it off so long... I've really had a lot going on but was planning to dedicate this weekend (starting tmr) on this!! Can we perhaps touch base on my progress Saturday? Then again, I don't want to be a bottleneck so please let me know if you have an alternative!